.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	border-r: 2px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a {
	color: #333;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: none;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: text-bottom;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
.webfx-tree-item a.selected-inactive {
	color: windowtext;
	background: buttonface;
}
.webfx-tree-item a.selected, .webfx-tree-item a.selected-inactive {
	color:#000 ;
	background: #f4efd6;
}

