@import "buttons.css";


html{
height:100%;
}
body {
margin:0;
border:0; 
background-image:url(img/metal.gif);
/*background-color:#F3F3F3;*/
height:100%;
}

div, td, th, p, a, body, .textbox, textarea{
font-family: 'Lato', Verdana, Arial, Helvetica, sans-serif;
font-size:.98em;
cursor:default;
}
h1,h2,h3,h4,h5,h6{
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:normal;
font-size:200%;
}
h1{
font-size:24px;
}
#adminUserBody h1,#adminUserBody h2,#adminUserBody h3,#adminUserBody h4{
color:#53492C;
}

a:visited, a:hover ,a {
text-decoration:none;
color:#666666 ;                    
cursor:pointer;
}
a:active {

}
a:hover {
color:#003399;
}

#logo{
position:absolute;
right:10px;
top:6px;
z-index:3;
white-space:nowrap;
}

.rb{
width:22px; 
}
th .rb{
width:26px ;
}
.tamanho{
width:5em;
}
th .tamanho{
width:5.5em ;
}
.tipo{
width:100px;
}
th .tipo{
width:103px ;
}
.data{
width:6em;
} 
th .data{
width:6em;
}
#mainTable{
margin:0;
padding:0;
border:0; 
width:100%;
height:100%;
}
#top{
height:34px;
width:100%;
} 

#content{
background-color:#F3F3F3;
vertical-align:top;
height:auto;
border-top:1px solid #333;
}
input#content{
background-color:#ddd !important;
}
#header{    
padding:0;  
text-align:left; 
height:20px;
}
#footer, #header{
color:#FFF;
width:100%;
font-weight:bold;
}    
#content, #footer{
border-right:1px solid #333;
border-left:1px solid #333;
}
#footer{
border-bottom:1px solid #333;
padding:0 8px;
height:50px;
}
#footer #col1{
float:left;
width:50%;
height:100%;
} 
#footer #col2{
height:100%;
} 
#header span, #footer #col2{ 
padding-left:8px;
border-left:1px solid white;
font-weight:bold;
color:white;
float:left;
}
#adminUserBody #header span{
width:49%;
}
#windows{
color:#333;
width:100%;
height:100%; 
margin-bottom:40px; 
border-style:solid;
border-width:16px 2px 0 2px;
}
#windows table{
width:100%
}
#windows th{
color:white;
text-align:left
}

/* crtl USUARIOS */
#windows #groups, #windows #users{
vertical-align:top;
height:100%;
width:50%;
}

#windows #groups iframe, #windows #users iframe{
height:100%;
width:100%;
border-width:0;
}


/***************************** CONTEUDO ***************************************/

#windows #treeMenu{
vertical-align:top;
height:100%;
width:217px;
}
#windows #fileList{
vertical-align:top;
height:100%;
}
#windows #ifolders{
height:100%;
width:217px;
border-width:0;
}

#windows #ifiles{
width:100%;
height:100%;
border-width:0;
}

/* files iframe */
#filesTable{
width:100%;
height:auto;
}

#filesTable td{
border-bottom:1px solid #cccccc;
padding:2px 3px 2px 4px;
empty-cells:show
}
#filesTable .selected{
background-color:#f4efd6;
color:#000
}
#filesTable td img{
vertical-align:middle
}
.selectMult{
width:200px;
height:166px;
}
/******************************** tela Login **********************************/

#adminLogin{
position:relative;
top:120px;
width:100%;
padding:20px 30% 30px;
border-top:1px solid #ccc;
border-bottom:1px solid #999;
background-color:#fff;
}
#loginForm .btn{
font-size: 1em;
font-weight:bold;
cursor:pointer;
}
/******************************** main Tabs ***********************************/

#mainTabs {
list-style:none;
position:absolute;
top:3px;
margin:0;
padding:0;
}
#mainTabs li{
display:block; 
height:27px;
float:left;
position:relative;
background-repeat: no-repeat ;
background-position:top left;
}
#mainTabs span{
background-repeat: no-repeat ;
background-position:top right;
padding-bottom:13px;
display:block;
float:left;
}
#mainTabs a{
display:block;
height:18px;
float:left;
color:#7E7E7E;
color:rgba(0,0,0,.4);
padding:6px 20px;
font-size:15px;
font-weight:bold;
border-radius:6px 6px 0 0;
border:1px solid #333;
margin-right:2px;
transition:all 240ms;
}
#mainTabs a:hover{
color:#333;
}
#mainTabs #webaddress{
	font-weight: normal;
	padding-left: 10px;
	border:0;
}

/******************** FUNDO EM COMUM - selected *******************************/ 

#mainTabs li.selected {
z-index:100;
}
#mainTabs #adminContentTab.selected a{
color:#DFE5EB;
border-bottom:1px solid #2169B4;
}
#mainTabs #adminLibTab.selected a{
color:#E1E7E5;
border-bottom:1px solid #00753E;
}    
#mainTabs #adminUserTab.selected a{
color:#E4E1D8;
border-bottom:1px solid #53492C;
}
#mainTabs #adminHelpTab.selected a{
color:#fff;
border-bottom:1px solid #F6B700;
}
     
#mainTabs #adminContentTab.selected, #mainTabs #adminContentTab.selected span {}
#adminContentBody #windows{border-color:#2169B4}
#mainTabs #adminContentTab.selected a, #adminContentBody #content, #adminContentBody #footer, #adminContentBody #header{
background-color:#2169B4;
}
#mainTabs #adminLibTab.selected, #mainTabs #adminLibTab.selected span {}
#adminLibBody #windows{border-color:#00753E}
#mainTabs #adminLibTab.selected a, #adminLibBody #content, #adminLibBody #footer, #adminLibBody #header{
background-color:#00753E;
} 
#mainTabs #adminUserTab.selected, #mainTabs #adminUserTab.selected span {}
#adminUserBody #windows{border-color:#53492C}
#mainTabs #adminUserTab.selected a, #adminUserBody #content, #adminUserBody #footer, #adminUserBody #header{
background-color:#53492C ; 
}
#mainTabs #adminHelpTab.selected, #mainTabs #adminHelpTab.selected span {background-image: url('img/adminHelpTabSelected.gif')}
#adminHelpBody #windows{border-color:#F6B700}
#mainTabs #adminHelpTab.selected a, #adminHelpBody #content, #adminHelpBody #footer, #adminHelpBody #header{
background-color:#F6B700;
}

/******************************* unselected ***********************************/

#mainTabs #adminContentTab, #mainTabs #adminContentTab span {}
#mainTabs #adminContentTab a{background-color:#C5D1D4}

#mainTabs #adminLibTab,#mainTabs #adminLibTab span {}
#mainTabs #adminLibTab a{background-color:#E2EAFF;}

#mainTabs #adminUserTab, #mainTabs #adminUserTab span {} 
#mainTabs #adminUserTab a{background-color:#D2C5A8;}

#mainTabs #adminHelpTab, #mainTabs #adminHelpTab span {background-image: url('img/adminHelpTabUnselected.gif')}
#mainTabs #adminHelpTab a{background-color:#F1E9C9;}

#adminHelpBody  #windows{
background-color:#F3F3F3;
margin:0; 
height:100%;
}
#helpIframe{
width:100%;
height:100%;
border-width:0;
}
.popup .nav{
display:none;
}

/**************************************** GERAL *******************************/

label{
cursor:pointer;
}
.floatr{
float:right;
}
button{
color:#333;
font-size:10px;
float:left;
margin:2px 2px 0 2px;
cursor:pointer;
padding: 0px 2px 0px 2px ;
}
.separator{
display:block;
width:0;
border-left:1px solid #333;
border-right:1px solid #ccc;
height:100%;
float:left;
margin:0 4px;
opacity:.2;
}
#session{
float:right;
height: 100%
}
#session em{
	vertical-align: middle;
	font-size: 1.1em;
	margin-right: 5px
}
#session button{
display:inline;
float:none;
}

.vazio{
color:#999;
font-style:italic;
margin-left:34px;
margin-top:25px;
}
a img{
border-width:0;
}   

label{
display:block;
font-size:.9em;
}

legend{
color:#333;
}
dt{
   font-size:16px;
   font-weight:bold;
}

dd{
   margin-bottom:10px;
   margin-left:20px;
} 

.uploading, .uploading *{cursor:wait}

#imageListBlockMsg{color:#888;font-style: italic;}





@media (max-width: 890px) {
  #session{float: none;}
  #session em{display: none;}
  #footer button{min-width: 0}
}
 
