
body{
  padding:0;
  background-image:url(img/gradient.gif);
  background-repeat:repeat-x;   
  background-color:#F3F3F3;
  background-position:fixed;
  overflow:auto; 
  /*overflow-y:scroll ;*/
}
#foldersDiv{
padding:10px 5px 10px 10px;
}
#foldersDiv a{
font-size: .8em 
}
#filesDiv{
width:100%;
position:absolute;
top:0;
bottom:0;
z-index:4;
-webkit-transition:background-color 200ms;
-moz-transition:background-color 200ms;
transition:background-color 200ms;
}

#filesDiv.drag-over {
background-color:rgba(133,174,214,.2);           
}

#header{
	position: fixed;
	top:0;
}
#header label{
display:none;
font-weight:normal;
}
.scroll{
padding:20px 0 47px
}

.button{
background:none;
cursor:pointer;
}
#filterSubmitBtn{
font-size: 21px;
float: none;
vertical-align: bottom;
color: #333;
}

 /* ====== busca ===== */

#filter{
width:84%;
margin:0 4px;
}
#globalSearch{
margin:0;
position:absolute;
position:fixed;
bottom:0;
background:#eee;
width:100%;
left:0;
padding:7px 0px;
border-top:1px solid #bbb;
white-space:nowrap;
text-align:center;
}
#globalSearch p{
margin:0;
padding:0
}

.bbox{
margin:0 ;
display:block;
width:100%;
border-top:1px solid #fefefe;
position: fixed !important;
position: relative;
bottom:0;
margin-top: -44px;
text-align:center
}
.bbox p{
margin:0;
background:#dedede;
border-top:2px solid #ededed;
padding:10px 10px;
height:18px;
}
#searchBtn{
padding:0;
border:0;
margin:0;
float:none;
font-size:17px;
background:transparent;
position:absolute;
right:17px;
top:12px;
color:#aaa;
}
#searchBtn:hover{color: #111}

