body{
background-color:#C5D1D4;
}
#images ul{ 
list-style:none; 
padding:0; 
margin:0; 
} 
#images li{ 
float:left; 
margin:4px; 
} 
#images img{ 
border:2px solid #eee; 
cursorointer; 
padding:3px; 
} 
#images .selected img{ 
border:2px solid #2169B4; 
}
