@import url("mime.css");

body{
margin:0;
padding:0;
font-size: 62.5%;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* Neutralize styling: 
   Elements with a vertical margin: */
p, pre, blockquote, ul, ol, dl, address {
	margin: 1em 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
margin:0;
}
h1 {font-size:2em}  /* displayed at 24px */
h2 {font-size:1.5em}  /* displayed at 18px */
h3 {font-size:1.25em}  /* displayed at 15px */
h4 {font-size:1em}  /* displayed at 12px */
input, select, th, td, textarea,
li li, li p, td p, blockquote p {font-size:1em}
input, textarea{
font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
	margin-left: 1.5em;
}

/* Miscellaneous conveniences: */
label {
	display:block
}
label em{
	cursor: pointer;
}
fieldset {
	border: none;
	position: relative;
	margin-top:1em; 
	padding-top:.75em;
}

button{
overflow:visible;
width:auto;
}
dt{
font-weight:bold;
}
sup {
line-height: 0;
vertical-align: text-top;
}

table {
border-collapse: collapse;
border-spacing:0;
empty-cells:show;
width:100%;
}
td,th{
border:1px solid #444;
padding:1px 3px;
}

a img{
border:0;
}
a, a:focus, a:active{
outline:none;
}
/*img{ 
behavior:url("inc/pngbehavior.htc"); 
} */

code{
    font-family: Monaco,ProFont,"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}
hr{
display:none
}
#main hr{
display:block;
visibility:hidden;
margin:1em 
}
form{
margin:1em 0 0;
clear:right
}
/********************* LAYOUT *********************/
#wrap{
text-align:left;
margin:0 auto;
width:780px
}
#logo{
font-size:3em;
line-height:0;
font-family: Palatino,Georgia, Times, serif;
text-decoration:none;
text-transform:capitalize;
border:0
}
#header{
position:relative;
overflow:hidden
}
#cartLink{
float:right
}
#topNav{text-align:right}
#topNav li{
list-style:none;
display:inline;
}
#main{
margin:1em 0 0 220px;
}
#footer{
clear:both;
margin:0 auto;
font-size:.9em;
text-align:center
}
.date-list li{
display:block;
list-style:none;
margin-left:0;
border-bottom:1px solid #ccc
}
#skip{
display:none
}
/********************* SEARCH **********************/
#search-form{
float:right;
white-space:nowrap;
margin:0
}
#search-form label{
display:inline;
width:auto
}
#search-form button{
cursor:pointer;
padding:0;
overflow:visible;
width:auto
}
#search-form button span{
background:url(img/mag.gif) no-repeat center center;
display:-moz-inline-box;
display:inline-block;
width:16px;
height:16px
}

#search-results li{
list-style:none;
margin:0 0 1em;
display:block
}
#search-results li p{
margin:0
}

/********************* NAV **********************/

#bar{
width:200px;
float:left
}
#bar li{
display:block;
list-style:none;
margin:0
}
#bar li a{
text-decoration:none;
font-weight:bold;
font-size:1.3em;
display:block;
padding:3px;
}
#bar li a:hover{
}
#bar ul{
margin-left:1em
}
#bar .selected a{
cursor:default
}
#bar .selected ul a{
color:inherit;
cursor:pointer
}
/********************* LANG *********************/
#switch-lang{
position:absolute;
right:0;
top:1em;
margin:0
}
#switch-lang a{
margin:0 3px
}
.pt_BR #lang-pt,
.en_US #lang-en,
.es_ES #lang-es,
.fr_FR #lang-fr{
display:none
}


/********************* CLASSES *********************/
.hide{
display:none;
}
.show{
display:block;
}
/* formValidator.js elements */
.required{
}
.submenu{
}
#errormsg{
color:#c00;
font-size:1.4em;
font-style:italic;
}
.error{
background-color:#ffff86;
}
.clear{
clear:both;
height:0;
width:100%;
visibility:hidden;
}
img.alignRight{
margin:2px 0 2px 9px;
}
img.alignLeft{
margin:2px 9px 2px 0;
}
.images{
float:right;
margin:0 0 .5em 1em;
width:250px
}
.message{
padding:2px 5px;
background-color:#ffff86
}
.sbox{

}
.rss{
float:right;
}
.rss span{
background:url(img/rss.gif) no-repeat left;
padding-left:14px
}

.backwards {unicode-bidi:bidi-override; direction: rtl; }

.hs-prev{
float:left;
border:0;
cursor:pointer
}
.hs-next{
float:right;
border:0;
cursor:pointer
}
#cpf_1{width: 6em}
#cpf_2, .cep2, .cnpj3{width: 2em}
.cep1{width: 4em}
.cnpj1{width: 5em}
.cnpj2{width: 3em}

/********************* PRINT *********************/
@media print{
	#logo{
	display:block
	}
	#nav, #footer, #switch-lang {
	display:none;
	}
	#wrap #header{
	height:auto
	}
	#header #logo{
	position:relative;
	left:0;
	top:0
	}
	body #wrap{
	width:100%;
	}
	#wrap #main{
	width:100%;
	margin:1em 0 !important
	}
	
}

