/********************* MIME *********************/
.uploading, .uploading *{cursor:wait}

.imageItem {
background-repeat: no-repeat;
background-position: 50% 0;
padding-top:50px;
display:block;
background-image:url(img/mime/x-generic48.png);
}

.mp3,.wav,.ogg{background-image:url(img/mime/audio-x-generic48.png);}
.ttf,.pfb,.otf{background-image:url(img/mime/font-x-generic48.png);}
.jpg,.gif,.png,.tif,.ico,.jpeg,.bmp{background-image:url(img/mime/image-x-generic48.png);}
.txt,.php,.javascript,.css,.csv,.xml{background-image:url(img/mime/text-x-generic48.png);}
.mov,.mpeg,.mpg,.avi,.rm,.wmv{background-image:url(img/mime/video-x-generic48.png);}
.msword,.rtf,.doc,.sxw,.vnd-oasis-opendocument-text,.rtf{background-image:url(img/mime/x-office-document48.png);}
.htm,.html{background-image:url(img/mime/text-html48.png);}
.vnd-ms-powerpoint ,.mspowerpoint,.ms-powerpoint,.ppt,.odp{background-image:url(img/mime/x-office-presentation48.png);}
.vnd-ms-excel,.x-msexcel,.ms-excel,.xls,.ods,.sxc{background-image:url(img/mime/x-office-spreadsheet48.png);}
.exe,.bat,.rpm,.bin,.sh{background-image:url(img/mime/application-x-executable48.png);}
.pdf,.ps{background-image:url(img/mime/x-office-pdf48.png);}
.x-wine-extension-fla,.fla{background-image:url(img/mime/flash-fla48.png);}
.x-shockwave-flash{background-image:url(img/mime/flash-swf48.png);}
.zip,.rar,.tbz,.tar{background-image:url(img/mime/x-zip48.png);}
.cdr,.svg,.wmf,.eps{background-image:url(img/mime/x-office-drawing48.png);}