
@import url("mime.css");

body{
background:#f3f3f3
}

#top{
background-image:url(img/metal.gif);
background-repeat:repeat-x;
background-position: 0 -51px;
border-left:1px solid #333;
border-top:1px solid #555;
margin:0;
padding:0;
height:32px;
list-style:none;
position:absolute;
top:0;
left:-1px;
z-index:9;
overflow:visible
}

#top li{
float:left;
padding:4px 10px 8px 10px;
height:16px;
border-right:1px solid #333;
border-top-style: solid;
border-top-width:4px;
background-color:#E5E5E5;
font-weight:normal;
cursor:pointer;
position:relative;
z-index:5
}
* html #top li{
border-top-width:6px;
}

#adminContentBody #top li{ border-top-color: #2169B4; }
#adminLibBody #top li{ border-top-color: #00753E; }
#adminUserBody #top li{ border-top-color: #53492C; }


#top .selected{
border-top:1px solid #333;
background-color:#fff;
border-bottom:1px solid #fff;
height:16px;
padding-top:7px;
display:block;
z-index:50;
}
* html #top .selected{
padding-top:12px;
}
.popupContent{
display:block;
padding-top:33px;
}
#adminUserBody .popupContent{
padding:0;
}
form p{
margin:4px;
}

#permissions{
width:330px;
}
#permissions th{
vertical-align:top;
text-align:left;
width:40px;
}
#permissions td, #permissions th{
padding:4px;    
}
#ilist{
width:400px;
height:200px;
border-width:1px;
}
.tela{
height:100%;
z-index:10;
  background-image:url(img/gradient.gif);
  background-repeat:repeat-x;
  background-color:#F3F3F3;
display:none;
min-height:250px;
padding:10px 10px 60px;
}
#adminUserBody .tela{
display:block;
}

fieldset{
border:0;
margin:0;
margin-top:7px;
padding:0;
padding-right:14px;
padding-bottom:7px;
display:inline;
}

#selectMult{
border-top:1px solid #333;
width:430px;
}
#selectMult select{
width:200px;
height:166px;
float:left;
} 
#selectMult div{
width:27px;
margin-top:60px;
vertical-align:middle;
float:left;
}

#adminUserBody .textbox{
width:196px;
}

input[disabled=disabled]{
color:#555;
background:#eee;
border:1px solid #ccc;
padding-left:3px
}
/******************* LANG ********************/
#langTab{
margin:0;
background:white url(img/line_bg.gif) repeat-x 0 24px;
padding:10px 10px 0px 10px;
text-align:center;
border-top:1px solid #333;
height:30px;
overflow:hidden;
}
#langTab li{
display:inline-block !important;
display:block;
display:-moz-inline-box;
float:none !important;
float:left;
height:25px !important;
height:28px;
width:23px !important;
width:28px;
background:url(img/lang_bg.png) no-repeat center top;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#999;
text-align:left;
/* line-height:25px; */
cursor:pointer;
margin:0 5px;
padding:3px 0 0 7px !important;
/* padding:0; */
list-style:none
}
#langTab li:hover{
background-position:center bottom;
color:#333
}
#langTab .selected{
background:white;
color:black
}
p label.required{
position:relative;
left:-7px;
padding-left:7px;
background:url(img/asterisco.gif) no-repeat 0 3px
}
p label em{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
font-style:normal
}
.pt_BR label em, #pt_BR.selected{
color:#4ebd49
}
.en_US label em, #en_US.selected{
color:#d64e23
}
.es_ES label em, #es_ES.selected{
color:#efac25
}
.fr_FR label em, #fr_FR.selected{
color:#54abd2
}

/******************* IMAGES ********************/

.imageListField{
display:block;
}
.imageListBlock{ 
padding:0; 
margin:0;
display:block;
overflow:auto;
border:1px solid #ccc;
background-color:#fff;
min-height:300px;
height:auto !important;
height:300px;
border-radius:0 0 5px 5px;
} 
.imageListBlock.drag-over {
background-color:rgba(133,174,214,.2);           
}
.imageListField ul{ 
padding:0; 
margin:0px 0px;
display:block;
overflow:auto;
min-height:300px;
height:auto !important;
height:298px;
} 
.imageListField li{
float:left; 
margin:4px;
display:block;
height:106px;
list-style:none;
text-align:center;
max-width: 106px;
overflow: hidden
} 
.imageListField img{
border:3px solid #fff; 
cursor:pointer; 
} 
.imageListField .selected img{
border-color: #2169B4; 
}
.imageListField li.selected.old{
float:left; 
margin:7px;
display:block;
height:100px;
}   
.imageListField li small{display:none}
.imageListField a{font-size: .8em}

.imageListField .selected .imageItem{
background-color: #2169B4; 
}
.imageListField .btn{float: none;}
.imageListField .form-actions{padding: 5px;border: 1px solid #ccc;border-radius: 5px 5px 0 0;background: #f2f2f2;border-bottom: 0;}

 /* ==================================================== scroll */

 body{
  background:#F3F3F3;
 }                   
  
#footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  border:1px solid #333;
  z-index:1000
}
 
@media screen{
  body>#footer{
   position: fixed;
  }
 }
 
* html body{
  overflow:hidden;
 } 
 * html .popupContent{
    height:100%;
    overflow-y:auto;
 }
