
body { 
background:#fff;
padding:5px;
text-align:left;
font-family: helvetica, arial, verdana, sans;
font-size: x-small;
color:#555
}
p, li, blockquote, table{
font-size: small;
color:#111
}
h1,h2,h3,h4,h5,h6{
color:#000
}
blockquote{
border:1px solid #9faeb2;
padding:.2em 1em;
margin:0
}
.pdf-link,.zip-link{
background:#e8e8e9
}
