
body{
background:#fff;
color:#111;
}
#content a:link{}
#content a:visited{}
#content a:hover{}
#content a:active{}

/***** IDS *****/

#wrap{

}
#header{

}
#logo{

}
#search-form{

}
#content{

}
#footer{

}

/***** NAV *****/

#nav{

}
#nav #mainMenu li a:hover, #nav #mainMenu li.selected a{

}
#nav #mainMenu li.selected a{

}
#nav #mainMenu ul{}
#nav #mainMenu ul li {}
#nav #mainMenu ul li a{

}
#nav #mainMenu ul .selected a{

}

/***** CLASS *****/

.message{

}
#content .rss {

}

/***** PAGES *****/




