<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <i class="mdi" ng-class="{ 'mdi-information': type=='info', 'mdi-alert-circle': type=='warning', 'mdi-alert': type=='danger'}"></i> <span ng-bind-html="content"></span>
</div>
