<div class="form-group">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <img ng-src="{{field.attrs.qrCodeUrl}}" />
    <input type="hidden" name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" />
  </div>
</div>
