<div class="captcha form-group textField required" ng-class="{'has-error': (avForm.validator.$visited || avForm.$submitted) && avForm.validator.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <div class="input-group">
      <span class="input-group-addon"><img title="CAPTCHA" alt="CAPTCHA error" ng-src="{{::captchaUrl}}" /></span>
      <input type="text" class="form-control col-xs-2" ng-model="values[field.attrs.fieldName]" name="validator" placeholder="{{::showLabel?'':field.attrs.label}}" required av-visited/>
    </div>
  </div>
</div>
