<div class="form-group form-inline" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}_1.$visited || avForm.{{::field.attrs.fieldName}}_2.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="text" name="{{::field.attrs.fieldName}}_1" ng-model="values[field.attrs.fieldName]" class="form-control" maxlength="5" size="5" av-composed-field="{{::field.attrs.fieldName}}" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited /> - 
    <input type="text" name="{{::field.attrs.fieldName}}_2" ng-model="values[field.attrs.fieldName]" class="form-control" maxlength="3" size="3" av-composed-field="{{::field.attrs.fieldName}}" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited av-cep-field />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}_1.$visited || avForm.{{::field.attrs.fieldName}}_2.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}_1.$invalid || avForm.{{::field.attrs.fieldName}}_2.$invalid)">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}_1.$error.required || avForm.{{::field.attrs.fieldName}}_2.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}_1.$error.required || avForm.{{::field.attrs.fieldName}}_2.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
