<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}}}">
  <div ng-class="::{'col-sm-9 col-sm-offset-3':horizontal}">
    <div class="checkbox">
      <label for="{{::field.attrs.fieldName}}{{::$id}}">
        <input type="checkbox"  id="{{::field.attrs.fieldName}}{{::$id}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-boolean-input/>
        {{::field.attrs.label}}
      </label>
    </div>
  </div>
</div>
