<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="ChangePasswordFormCtrl">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Fechar" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{'changePasswordTag'|translate}}</h4>
      </div>
      <div class="modal-body">
	<form name="changePasswordForm" ng-submit="avFormSubmit()" novalidate>
	  <div class="form-group" ng-class="{'has-error': (changePasswordForm.$submitted || changePasswordForm.password.$visited) && changePasswordForm.password.$invalid }">
	    <label>
	      Nova senha
	    </label>
    
	    <input name="password" class="form-control input-lg" type="password" ng-model="formData.password" placeholder="senha" av-visited required>
	    
	    <span class="help-block with-errors" ng-show="(changePasswordForm.$submitted || changePasswordForm.password.$visited) && changePasswordForm.password.$invalid">
	      <ul class="list-unstyled">
		<li ng-show="changePasswordForm.password.$error.required">{{'fieldRequiredTag'|translate}}</li>
		<li ng-hide="changePasswordForm.password.$error.required">{{'invalidFieldTag'|translate}}</li>
	      </ul>
	    </span>
	  </div>


	  <div class="form-group" ng-class="{'has-error': (changePasswordForm.$submitted || changePasswordForm.password2.$visited) && changePasswordForm.password2.$invalid }">
	    <label>
	      Repita a nova senha
	    </label>
    
    
	    <input name="password2" class="form-control input-lg" type="password" ng-model="formData.password2" placeholder="senha" av-visited required av-password-check password="formData.password">
    
	    <span class="help-block with-errors" ng-show="(changePasswordForm.$submitted || changePasswordForm.password2.$visited) && changePasswordForm.password2.$invalid">
	      <ul class="list-unstyled">
		<li ng-show="changePasswordForm.password2.$error.required">{{'fieldRequiredTag'|translate}}</li>
		<li ng-hide="changePasswordForm.password2.$error.required">{{'invalidFieldTag'|translate}}</li>
	      </ul>
	    </span>
	  </div>

	  <input type="submit" 
		 style="position: absolute; left: -9999px; width: 1px; height: 1px;"
		 tabindex="-1" />

	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
	<button class="btn btn-primary" ng-click="avFormSubmit()">Enviar</button>
      </div>
    </div>
  </div>
</div>
