<div class="form-group form-inline" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}_1.$visited || avForm.{{::field.attrs.fieldName}}_2.$visited || avForm.{{::field.attrs.fieldName}}_3.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}_1.$invalid || avForm.{{::field.attrs.fieldName}}_2.$invalid || avForm.{{::field.attrs.fieldName}}_3.$invalid) }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="text" name="{{::field.attrs.fieldName}}_1" ng-model="values[field.attrs.fieldName]" class="form-control" maxlength="8" size="8" ng-required="{{::field.attrs.required=='required'}}" av-composed-field="{{::field.attrs.fieldName}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-cnpj-field av-visited />  /
    <input type="text" name="{{::field.attrs.fieldName}}_2" ng-model="values[field.attrs.fieldName]" class="form-control" maxlength="4" size="4" ng-required="{{::field.attrs.required=='required'}}" av-composed-field="{{::field.attrs.fieldName}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-cnpj-field av-visited />  -
    <input type="text" name="{{::field.attrs.fieldName}}_3" ng-model="values[field.attrs.fieldName]" class="form-control" maxlength="2" size="2" ng-required="{{::field.attrs.required=='required'}}" av-composed-field="{{::field.attrs.fieldName}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-cnpj-field av-visited />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}_1.$visited || avForm.{{::field.attrs.fieldName}}_2.$visited || avForm.{{::field.attrs.fieldName}}_3.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}_1.$invalid || avForm.{{::field.attrs.fieldName}}_2.$invalid || avForm.{{::field.attrs.fieldName}}_3.$invalid)">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}_1.$error.required || avForm.{{::field.attrs.fieldName}}_2.$error.required || avForm.{{::field.attrs.fieldName}}_3.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}_1.$error.required || avForm.{{::field.attrs.fieldName}}_2.$error.required || avForm.{{::field.attrs.fieldName}}_3.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
