<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body" ng-bind="content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="no($hide)">{{'noTag'|translate}}</button>
	<button class="btn btn-primary" ng-click="yes($hide)">{{'yesTag'|translate}}</button>
      </div>
    </div>
  </div>
</div>
