<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title hide" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content"></p>
      <div class="form-actions">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{'noTag' | translate}}</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="confirm($event,$hide)">{{'yesTag' | translate}}</button>
      </div>
    </form>
  </div>
</div>
