<div class="form-group form-inline" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.{{::field.attrs.fieldName}}_time{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid || avForm.{{::field.attrs.fieldName}}_time{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid) }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="text" size="10" class="form-control" name="{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" data-autoclose="1" data-icon-left="mdi mdi-chevron-left" data-icon-right="mdi mdi-chevron-right" data-date-type="string" data-model-date-format="yyyy-MM-dd HH:mm:ss" data-date-format="{{dateFormat}}" placeholder="Date" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited bs-datepicker>
    <input type="text" size="8" class="form-control" name="{{::field.attrs.fieldName}}_time{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" data-icon-up="mdi mdi-chevron-up" data-icon-down="mdi mdi-chevron-down" data-time-type="string" data-model-time-format="yyyy-MM-dd HH:mm:ss" data-time-format="{{timeFormat}}" data-autoclose="1" data-minute-step="15" data-length="1" data-arrow-behavior="picker" placeholder="Time" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited bs-timepicker>
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.{{::field.attrs.fieldName}}_time{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid || avForm.{{::field.attrs.fieldName}}_time{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid)">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}_date{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
