<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <i class="mdi mdi-alert-circle"></i>&nbsp;{{'discardChangesTag'|translate}}&nbsp; <a ng-click="undoDiscard()" class="btn btn-sm btn-link">{{'undoTag'|translate}}</a>
</div>
