<div class="email-list" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <div class="form-group double">
    <label class="control-label col-sm-3">{{::field.attrs.label}}:
    </label>
    <div class="col-sm-9">
      <em ng-hide="values[field.attrs.fieldName].length" class="text-muted form-control-static">Nenhum</em>
      <span class="tags" ng-repeat="email in values[field.attrs.fieldName]">{{email}}
        <a class="close" ng-click="remove(email)">
          <i class="mdi mdi-close-circle"></i>
        </a>
      </span>
    </div>
    <av-array-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-array-model-ctrl>
  </div>

  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="input-group">
        <input type="email" name="email" ng-model="email" placeholder="{{::showLabel?'':field.attrs.label}}" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check av-visited/>
        <span class="input-group-btn">
          <button type="button" ng-disabled="email.length==0 || avForm.email.$invalid" class="btn btn-default" type="button" ng-click="add()">
            {{'addTag'|translate}}
          </button>
        </span>
      </div>
      <!-- /input-group -->

      <span class="help-block with-errors" ng-show="(avForm.email.$visited || avForm.$submitted) && avForm.email.$invalid">
        <ul class="list-unstyled">
          <li>{{'invalidFieldTag'|translate}}</li>
        </ul>
      </span>

      <span class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
        <ul class="list-unstyled">
          <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
          <li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
        </ul>
      </span>
    </div>
  </div>
</div>
