<div class="file-viewer">
  <iframe ng-if="doc.contentType=='application/pdf' || doc.contentType=='text/html'" ng-src="{{::fileSrc}}"></iframe>
  <img ng-if="doc.contentType.indexOf('image')==0" ng-src="{{::fileSrc}}" class="img-responsive center-block img-rounded" />
</div>
