<div ng-switch="field.attrs.template?field.attrs.template:field.attrs.type">
  <av-text ng-switch-when="text" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text>
  <av-text ng-switch-when="adminFolderPath" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text>
  <av-text-area ng-switch-when="textArea" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text-area>
  <av-html-area ng-switch-when="htmlArea" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" ta-toolbar="taToolbar"></av-html-area>
  <av-lang-field ng-switch-when="langField" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" ta-toolbar="taToolbar"></av-lang-field>
  <av-integer ng-switch-when="integer" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-integer>
  <av-integer-filter ng-switch-when="integerFilter" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-integer-filter>
  <av-currency ng-switch-when="currency" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-currency>
  <av-currency-filter ng-switch-when="currencyFilter" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-currency-filter>
  <av-percent ng-switch-when="percent" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-percent>
  <av-select ng-switch-when="select" field="field" values="node.attrs" field-list="node.children" av-form="avForm" node-service="node.nodeService" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" path="node.path"></av-select>
  <av-select-multiple ng-switch-when="selectMultiple" field="field" values="node.attrs" field-list="node.children" av-form="avForm" node-service="node.nodeService" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" path="node.path"></av-select-multiple>
  <av-object-list ng-switch-when="objectList" field="field" values="node.attrs" date-format="{{::datepickerFormat}}" time-format="{{::timepickerFormat}}" av-form="avForm" show-label="{{::showLabel}}" a-sortable-listeners="aSortableListeners" path="node.path"></av-object-list>
  <av-date ng-switch-when="date" field="field" values="node.attrs" date-format="{{::datepickerFormat}}" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-date>
  <av-date-time ng-switch-when="datetime" field="field" values="node.attrs" date-format="{{::datepickerFormat}}" time-format="{{::timepickerFormat}}" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-date-time>
  <av-date-filter ng-switch-when="dateFilter" field="field" values="node.attrs" date-format="{{::datepickerFormat}}" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-date-filter>
  <av-file-list ng-switch-when="fileList" field="field" values="node.attrs" av-form="avForm" translations="translations"></av-file-list> 
  <av-cnpj ng-switch-when="cnpj" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-cnpj>
  <av-cpf ng-switch-when="cpf" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-cpf>
  <av-cep ng-switch-when="cep" field="field" field-list="node.fields" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-cep>
  <av-email ng-switch-when="email" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-email>
  <av-checkbox ng-switch-when="boolean" field="field" values="node.attrs" horizontal="{{::horizontal}}"></av-checkbox>
  <av-password ng-switch-when="password" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-password>
  <av-auth-secret ng-switch-when="authSecret" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-auth-secret>
  <av-email-list ng-switch-when="emailList" field="field" values="node.attrs" av-form="avForm" translations="translations"></av-email-list> 
  <av-captcha ng-switch-when="captcha" field="field" values="node.attrs" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-captcha>
</div>

