<fieldset class="fileListField" ng-class="{'required':{{::field.attrs.required=='required'}}}">
  <legend>{{::field.attrs.label}}:</legend>

  <p>
    <button type="button" class="btn btn-default" ngf-select ngf-change="upload($files)" ngf-multiple="true">{{'insertTag'|translate}}</button>
    <button type="button" ng-disabled="removeSelectedDisabled" class="btn btn-default" av-confirm-popover="{{'confirmRemoveSelectedTag'|translate}}" data-placement="top" data-action="removeSelected()">{{'removeTag'|translate}}</button>
    <button type="button" ng-disabled="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0" class="btn btn-default" ng-click="selectAll()">{{'selectAllTag'|translate}}</button>
  </p>

  <div ngf-drop ngf-drop-available="dropSupported" ngf-change="upload($files)" class="drag-here row" ngf-drag-over-class="drag-over" ngf-multiple="true" ngf-allow-dir="false">
    <p ng-if="dropSupported" ng-show="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0" class="tip">
      <small class="text-muted inline-help">{{'dragHereTag'|translate}}</small>
    </p>

    <p ngf-no-file-drop ng-show="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0">
      <small class="text-muted inline-help">{{'dropNotSupportedTag'|translate}}</small>
    </p>

    <div ng-repeat="file in values[field.attrs.fieldName]" class="thumbnail" ng-class="{'active':file.active}">

      <button type="button" class="close btn btn-icon" av-confirm-popover="{{'confirmRemoveItemTag'|translate}}" data-placement="top" data-parent="body" data-action="remove($index)" aria-label="remove"><span aria-hidden="true">&times;</span></button>
      <a ng-click="select(file,$event)" class="file-select">
        <i class="mdi mdi-checkbox-marked-circle"></i>
      </a>
      <a av-file-viewer doc="file" data-toggle="tooltip" title="{{::file.title}}" container="#file-viewer">
      	<img ng-if="file.contentType.indexOf('image')==0" ng-src="{{::thumbUrl}}{{::file.docId}}" alt="{{::file.title}}" />
      	<av-mdi-file-icon ng-if="file.contentType.indexOf('image')!=0" content-type="{{file.contentType}}"></av-mdi-file-icon>
      </a>
      <span class="caption sr-only">{{::file.title}}</span>
    </div>
  </div>


</fieldset>
