<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Fechar" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{'generatedPasswordTag'|translate}}</h4>
      </div>
      <div class="modal-body">
	<div class="form-group">
	  <label>
	    Senha
	  </label>

	  <div class="input-group">
	    <input name="genPassword" class="form-control" type="text" ng-model="genPassword" readonly="readonly">
	    
	    <span class="input-group-btn">
	      <button type="button" ng-click="generatePassword()" class="btn btn-default">{{'generatePasswordTag'|translate}}</button>
	    </span>
	  </div>
	    
	</div>


	<div class="form-group">
	  <div>
	    <div class="checkbox">
	      <label>
		<input type="checkbox"  ng-model="confirmCopy" />
		{{'copiedPasswordTag'|translate}}
	      </label>
	    </div>
	  </div>
	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{'adminCancelTag'|translate}}</button>
	<button class="btn btn-primary" ng-disabled="!confirmCopy" ng-click="usePassword($hide)">{{'usePasswordTag'|translate}}</button>
      </div>
    </div>
  </div>
</div>
