<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <text-angular ta-toolbar="taToolbar" ta-paste="onPaste($html)" name="{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" maxlength="{{::field.attrs.size}}" placeholder="{{::showLabel?'':field.attrs.label}}" ng-required="{{::field.attrs.required=='required'}}" rows="3" av-visited></text-angular>
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
