<div class="form-group">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <div class="form-inline">
      <div class="form-group">
	<select class="form-control" name="{{::fields.type.attrs.fieldName}}" ng-model="values[field.attrs.fieldName].type" ng-options="item.attrs.id as item.attrs.value for item in fields.type.children">
	  <option value=""></option>
	</select>
      </div>
      <av-integer ng-show="values[field.attrs.fieldName].type=='greater' || values[field.attrs.fieldName].type=='between'" field="fields.greater" values="values[field.attrs.fieldName]" av-form="avForm" show-label="false" horizontal="false"></av-integer>
      <av-integer ng-show="values[field.attrs.fieldName].type=='lower' || values[field.attrs.fieldName].type=='between'" field="fields.lower" values="values[field.attrs.fieldName]" av-form="avForm" show-label="false" horizontal="false"></av-integer>
    </div>
  </div>
</div>
