<ul class="nav" ng-class="$navClass" role="tablist">
  <li role="presentation" ng-repeat="$pane in $panes track by $index" ng-class="[ $isActive($pane, $index) ? $activeClass : '', $pane.disabled ? 'disabled' : '' ]">
    <a role="tab" data-toggle="tab" ng-click="!$pane.disabled && $setActive($pane.name || $index)" data-index="{{ $index }}" ng-bind-html="$pane.title" aria-controls="$pane.title"></a>
    <button ng-if="$pane.removeBtn" type="button" class="close btn btn-icon" ng-click="$pane.close()" aria-label="fechar"><span aria-hidden="true">×</span></button>
  </li>
</ul>
<div ng-transclude class="tab-content">
</div>
