<div ng-repeat="subField in field.children" ng-switch="subField.attrs.type">
  <av-text ng-switch-when="langLabel" field-index="$index" field="subField" values="values" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text>
  <av-text-area ng-switch-when="langTextArea" field-index="$index" field="subField" values="values" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text-area>
  <av-html-area  ng-switch-when="langHtmlArea" field-index="$index" field="subField" values="values" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" ta-toolbar="taToolbar"></av-html-area>
</div>
