<div ng-controller="LoginFormCtrl" class="login-form">

  <form name="loginForm" ng-submit="submit()" novalidate>
    <h3>Login:</h3>


    <div class="form-group" ng-class="{'has-error': (loginForm.$submitted || loginForm.login.$visited) && loginForm.login.$invalid }">
      <label class="sr-only">
        Usuário
      </label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" >@</span>
	<input name="login" class="form-control" type="email" ng-model="loginData.login" placeholder="email" av-visited required>
      </div>
      <span class="help-block with-errors" ng-show="(loginForm.$submitted || loginForm.login.$visited) && loginForm.login.$invalid">
	<ul class="list-unstyled">
	  <li ng-show="loginForm.login.$error.required">{{'fieldRequiredTag'|translate}}</li>
	  <li ng-hide="loginForm.login.$error.required">{{'invalidFieldTag'|translate}}</li>
	</ul>
      </span>

    </div>
    <div class="form-group" ng-class="{'has-error': (loginForm.$submitted || loginForm.password.$visited) && loginForm.password.$invalid }">
      <label class="sr-only">
        Senha
      </label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" >✱</span>
	<input name="password" class="form-control" type="password" ng-model="loginData.password" placeholder="senha" av-visited required>
      </div>
      <span class="help-block with-errors" ng-show="(loginForm.$submitted || loginForm.password.$visited) && loginForm.password.$invalid">
	<ul class="list-unstyled">
	  <li ng-show="loginForm.password.$error.required">{{'fieldRequiredTag'|translate}}</li>
	  <li ng-hide="loginForm.password.$error.required">{{'invalidFieldTag'|translate}}</li>
	</ul>
      </span>
    </div>
    
    <button class="btn btn-block btn-primary btn-lg" type="submit">Entrar</button>
    
  </form>
</div>
