<div ng-class="{'required':{{::field.attrs.required=='required'}}}">
  <legend>{{::field.attrs.label}}:</legend>
  <fieldset class="{{::field.attrs.type}}Field" ng-model="values[field.attrs.fieldName]" as-sortable="aSortableListeners">
    <div ng-repeat="fieldValue in values[field.attrs.fieldName]" class="obj-group" ng-init="objIndex=$index" as-sortable-item>
      <span data-as-sortable-item-handle class="btn btn-icon drag pull-right" title="arraste para reordenar"><i class="mdi mdi-view-headline"></i></span>
      <a av-confirm-popover="{{'confirmRemoveItemTag' | translate}}" data-placement="top" data-action="remove($index)" class="btn btn-icon"><i class="mdi mdi-close vermelho"></i></a>
      <div ng-repeat="objField in field.children" ng-switch="objField.attrs.type">
	<av-text ng-switch-when="text" field="objField" values="fieldValue" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text>
	<av-text-area ng-switch-when="textArea" field="objField" values="fieldValue" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text-area>
	<av-integer ng-switch-when="integer" field="objField" values="fieldValue" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-integer>
	<av-currency ng-switch-when="currency" field="objField" values="fieldValue" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-currency>
	<av-percent ng-switch-when="percent" field="field" values="node.attrs" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-percent>
	<av-select ng-switch-when="select" field="objField" values="fieldValue" field-list="field.children" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" path="path"></av-select>
	<av-select-multiple ng-switch-when="selectMultiple" field="objField" values="fieldValue" field-list="field.children" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" path="path"></av-select-multiple>
	<av-date ng-switch-when="date" field="objField" values="fieldValue" date-format="{{dateFormat}}" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-date>
	<av-date-time ng-switch-when="datetime" field="objField" values="fieldValue" date-format="{{dateFormat}}" time-format="{{timeFormat}}" av-form="avForm" field-index="objIndex" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-date-time>
      </div>
    </div>
  </fieldset>
  <p class="text-right"><button type="button" class="btn btn-default" ng-click="insert($event)">{{'insertTag'|translate}}</button></p>
</div>
