<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>

  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="password" class="form-control" name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" placeholder="{{::showLabel?'':field.attrs.label}}" ng-required="{{::field.attrs.required=='required'}}" av-visited />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>

<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}2.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}2.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{'repeatPasswordTag'|translate}}:</label>

  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="password" class="form-control" name="{{::field.attrs.fieldName}}2" ng-model="values[field.attrs.fieldName+'2']" placeholder="{{::showLabel?'':'repeatPasswordTag'|translate}}" ng-required="{{::field.attrs.required=='required'}}" av-visited av-password-check password="values[field.attrs.fieldName]" />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}2.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}2.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
<div class="form-group">
  <div ng-class="::{'col-sm-9 col-sm-offset-3':horizontal}" >
    <button type="button" ng-click="generatePasswordModal()" class="btn btn-default">{{'generatePasswordTag'|translate}}</button>
  </div>
</div>
