<nav>
  <ul class="pagination" ng-show="showPagination">
    <!-- previous -->
    <li ng-class="{'disabled': disablePrev}">
      <a href ng-click="setOffset(prevOffset)">&laquo;</a>
    </li>

    <li ng-class="{'active': page.selected}" ng-repeat="page in pages">
      <a href ng-click="setOffset(page.offset)">{{page.value}}</a>
    </li>


    <!-- next -->
    <li ng-class="{'disabled':disableNext}">
      <a href ng-click="setOffset(nextOffset)">&raquo;</a>
    </li>
  </ul>
</nav>
