<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <div class="input-group">
      <input type="text" class="form-control"  name="{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" placeholder="{{::showLabel?'':field.attrs.label}}" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited av-float-input />
      <span class="input-group-addon">%</span>
    </div>
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
