<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <fieldset>
      <label ng-repeat="item in field.children" class="radio-inline">
	<input type="radio" ng-model="values[field.attrs.fieldName]" value="{{::item.attrs.id}}" />
	{{::item.attrs.value}}
      </label>
    </fieldset>

    <span class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
