<div class="form-group" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid }">
  <label ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <button type="button" class="btn btn-default form-control" name="{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" data-multiple="1" bs-options="item.attrs.id as item.attrs.value for item in field.children" av-target-field="{{::field.attrs.targetField}}" ng-required="{{::field.attrs.required=='required'}}" icon-checkmark="mdi mdi-check" max-length-html="{{'selectMultMaxLengthHtml' | translate}}" placeholder="{{'selectMultPlaceholder' | translate}}" ng-disabled="::field.attrs.readOnly" bs-select av-visited>
    </button>
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
