<div bs-active-pane="$tabs.activeTab" template="avInnerTabs.html" bs-tabs>
  <div ng-repeat="tab in $tabs" data-title="{{tab.title}}" name="{{tab.name}}" remove-btn="{{tab.removeBtn}}" av-pane>
    <div data="{{tab.data}}" ng-include="tab.template"></div>
  </div>
</div>
