<div class="row box">
  <div ng-bind-html="folder.content"></div>

  <div class="panel-group" role="tablist" av-active-panels="active" av-collapse ng-controller="GenericCollapseCtrl">
    <div class="panel panel-clear" ng-repeat="doc in docList.children">
      <div class="panel-heading" role="tab">
	<h3 class="panel-title">
      	  <a av-collapse-toggle><i class="mdi" ng-class="{ 'mdi-menu-right': active==$index, 'mdi-menu-down': active!=$index}"></i> {{::doc.title}}</a>
	</h3>
      </div>
      
      <div class="panel-collapse" role="tabpanel" av-collapse-target>
	<div class="row">
          <div ng-repeat="file in doc.imageList" class="col-sm-4 text-center">
  	    <img ng-if="file.contentType.indexOf('image')==0" ng-src="{{::thumbUrl}}{{::file.docId}}" alt="{{::file.title}}" />
          </div>
	  
          <div ng-bind-html="::doc.bio" class="col-sm-8"></div>
	</div>
      </div>
    </div>
  </div>
</div>
