<div class="popover" ng-controller="CustomerObs">
  <div class="arrow"></div>
  <div class="popover-content">
    <form name="popoverForm" novalidate ng-submit="update($hide,popoverForm)" class="form-vertical">

	<av-text-area horizontal="false" field="data.fields.observations" values="data.values" av-form="popoverForm"></av-text-area>
  
    </form>
    <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="update($hide,popoverForm)">OK</button>
  </div>
</div>
