<div class="pull-right form-inline">
  <label>Inserir&nbsp;</label>
  <av-obj-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-obj-model-ctrl>
  <input type="text" name="entity" ng-model="entity" placeholder="Busca" bs-options="item as (item.name | typeaheadHighlight:entity) for item in getEntity($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead data-placement="bottom-right" autocomplete="off" av-no-dirty-check legis-select-typeahead />
</div>

<div class="scroll" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <table class="table">
    <thead>
      <tr>
	<th>Nome</th>
	<th class="col-icon">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="values[field.attrs.fieldName]">
	<td>
	  <a ng-click="open()">
	    {{values[field.attrs.fieldName].name}}
	  </a>
	</td>

	<td class="text-center">
	  <button type="button" ng-click="remove()" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>

      </tr>
    </tbody>
  </table>
  <div class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
    <ul class="list-unstyled">
      <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
    </ul>
  </div>
</div>
