<div ng-controller="EntryReportCtrl">
  <form class="form-horizontal" name="entryReportForm" novalidate>
    <av-date field="fields.fromDate" values="values" date-format="{{::dateFormat}}" av-form="entryReportForm"></av-date>
    <av-date field="fields.toDate" values="values" date-format="{{::dateFormat}}" av-form="entryReportForm"></av-date>
    <hr>
    
    <div class="text-right">
      <button type="button" ng-disabled="!entryReportForm.$dirty" class="pull-left btn btn-default" ng-click="cancel()">Cancelar</button>
      <button type="submit" ng-click="getReport()" class="btn btn-primary">Enviar</button>
    </div>
  </form>

</div>
