<div class="process-numbers" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <div class="form-group double">
    <label class="control-label col-sm-3">Números:
    </label>
    <div class="col-sm-9">
      <em ng-hide="values[field.attrs.fieldName].length" class="text-muted form-control-static">Nenhum</em>
      <span class="tags" ng-repeat="number in values[field.attrs.fieldName]">{{number}}
        <a ng-if="::params.register" class="close" ng-click="remove(number)">
          <i class="mdi mdi-close-circle"></i>
        </a>
        <i ng-if="::!params.register"class="mdi mdi-close-circle"></i>
      </span>
    </div>
    <av-array-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-array-model-ctrl>
  </div>

  <div class="form-group" ng-if="::params.register">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
    <div class="input-group">
      <input type="text" name="number" ng-model="$parent.number" placeholder="Número" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" type="button" ng-click="add()">
          Adiciona
        </button>
      </span>
    </div>
    <!-- /input-group -->

    <span class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
      <ul class="list-unstyled">
        <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
        <li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
  </div>
</div>
