
<div class="form-inline pull-right">
  <label>Filtro&nbsp;</label>

    <input type="text" ng-model="search" placeholder="Busca" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check />

  <span class="btn-group" role="group">
    <button type="button" class="btn btn-default" ngf-select ngf-change="upload($files)" ngf-multiple="true">{{'insertTag'|translate}}</button>
    <button type="button" ng-disabled="removeSelectedDisabled" class="btn btn-default" av-confirm-popover="{{'confirmRemoveSelectedTag'|translate}}" data-placement="top" data-action="removeSelected()">{{'removeTag'|translate}}</button>
  </span>
</div>

<h2 ng-class="{'required':{{::field.attrs.required=='required'}}}">{{::field.attrs.label}}</h2>

<div class="scroll drag-here row" ngf-drop ngf-drop-available="dropSupported" ngf-change="upload($files)" ngf-drag-over-class="drag-over" ngf-multiple="true" ngf-allow-dir="false">

  <p ng-if="dropSupported" ng-show="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0" class="tip">
    <small class="text-muted inline-help">{{'dragHereTag'|translate}}</small>
  </p>

  <p ngf-no-file-drop ng-show="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0">
    <small class="text-muted inline-help">{{'dropNotSupportedTag'|translate}}</small>
  </p>

  <table class="table" ng-show="values[field.attrs.fieldName] && values[field.attrs.fieldName].length>0">
    <thead>
      <tr>
	<th>
	  <input type="checkbox" ng-disabled="!values[field.attrs.fieldName] || values[field.attrs.fieldName].length==0" ng-click="selectAll()" bs-title="{{'selectAllTag'|translate}}" />
	</th>
	<th>Título</th><th>Tipo</th><th>Data</th><th>Principal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in values[field.attrs.fieldName] | filter:search">
	<td><input type="checkbox" ng-model="file.active" ng-change="onSelectedChange(file)" av-no-dirty-check /></td>
	<td>
      	  <a av-file-viewer doc="file" data-toggle="tooltip" container="#file-viewer" >
      	    <av-mdi-file-icon content-type="{{file.contentType}}" class="btn btn-icon"></av-mdi-file-icon>
	    {{file.title}}
          </a>
	</td>
	<td>{{file.contentType}}</td>
	<td>{{file.lastChanged|mysqlDatetimeToISO|date:dateFormat}}</td>
	<td><input type="radio" ng-model="values.defaultDoc" ng-value="file.docId"/></td>
      </tr>
    </tbody>
  </table>
  <small class="text-muted"><i class="mdi mdi-alert-circle"></i> Arraste e solte arquivos neste campo para fazer upload</small>
</div>
