<div ng-controller="EntityDocCtrl">
  <av-form template-url="{{::params.formTemplate}}" params="params" name="avForm" node="tab.node" translations="translations" submit="save()"></av-form>

  <div class="text-right">
    <button ng-if="::!aggregator && tab.node.attrs.docId" class="pull-left btn btn-danger" ng-click="delete()">{{'removeTag'|translate}}</button>
    <button ng-if="!tab.node.attrs.docId" ng-disabled="!avForm.$dirty" class="pull-left btn btn-default" ng-click="cancelNewEntity(tab)">Cancelar</button>
    <button class="btn btn-default" ng-if="tab.node.attrs.docId" ng-click="closeEntity()">Fechar</button>
    <button ng-if="::!aggregator" class="btn btn-primary" ng-disabled="!avForm.$dirty" ng-click="avForm.submit()">
      <span ng-if="tab.node.attrs.docId">Salvar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar e Abrir</span>
    </button>
    <button ng-if="::!aggregator" class="btn btn-default" ng-disabled="!avForm.$dirty" ng-click="saveAndClose()">
      <span ng-if="tab.node.attrs.docId">Salvar e Fechar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar</span>
    </button>
  </div>
</div>
