<div ng-controller="EntryDocCtrl">
  <av-form template-url="{{::params.formTemplate}}" params="params" name="avForm" node="tab.node" translations="translations" submit="save()"></av-form>

  <div class="text-right">
    <div class="pull-left ">
      <button ng-if="tab.node.attrs.docId" class="btn btn-danger" ng-click="delete()">{{'removeTag'|translate}}</button>
      <button ng-if="!tab.node.attrs.docId" ng-disabled="!avForm.$dirty" class="btn btn-default" ng-click="cancelNewEntity(tab)">Cancelar</button>
      <button ng-show="tab.node.attrs.docId && tab.node.attrs.classId==1" ng-disabled="!tab.node.attrs.paymentDate || avForm.$dirty" class="btn btn-default" ng-click="accountability()">Prestação de Contas</button>
    </div>

    <button class="btn btn-default" ng-if="tab.node.attrs.docId" ng-click="closeEntity()">Fechar</button>
    <button class="btn btn-default" ng-disabled="!avForm.$dirty" ng-click="avForm.submit()">
      <span ng-if="tab.node.attrs.docId">Salvar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar e Abrir</span>
    </button>
    <button class="btn btn-primary" ng-disabled="!avForm.$dirty" ng-click="saveAndClose()">
      <span ng-if="tab.node.attrs.docId">Salvar e Fechar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar</span>
    </button>
  </div>
</div>
