<form name="avForm" novalidate ng-submit="avForm.submit()" ng-class="::{ 'form-horizontal': horizontal }">
  <legis-field  show-label="{{::showLabel}}" ng-repeat="field in node.children"></legis-field>
  <input type="submit" 
	 style="position: absolute; left: -9999px; width: 1px; height: 1px;"
	 tabindex="-1" />
</form>
