<div class="row" ng-controller="WebsiteCtrl">
  <div class="col-sm-4 docs-folders">
    <abn-tree
       tree-data         = "treeData"
       tree-control      = "tree"
       icon-leaf         = "mdi mdi-folder"
       icon-expand       = "mdi mdi-plus-circle"
       icon-collapse     = "mdi mdi-minus-circle"
       on-select         = "onSelect(branch)"
       initial-selection = "Página Inicial" >
    </abn-tree>
  </div>
  <div class="col-sm-8">
    <p ng-if="!docList || docList.children.length==0"><em class="text-warning">Nenhuma página</em></p>
    <div class="table-responsive docs-files">
      <table class="table table-striped table-hover" ng-if="docList && docList.children.length>0" ng-model="docList.children" as-sortable="aSortableDocListeners">
	<!-- change permission -->
	<tr ng-repeat="item in docList.children" as-sortable-item>
	  <td>
	    <span data-as-sortable-item-handle class="btn btn-icon drag pull-right" title="arraste para reordenar"><i class="mdi mdi-view-headline"></i></span>
	    <a ng-click="openPage(item)">
	      <i class="mdi mdi-file-document"></i>
	      {{::item.title}}
	    </a>
	  </td>
	</tr>
      </table>
    </div>
  </div>

  <nav class="docs-actions navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <button class="btn btn-primary navbar-btn pull-right" ng-click="openPage()">Nova Página</button>
      <button class="btn btn-default navbar-btn" ng-click="editFolder()">Editar Área</button>
      <button ng-disabled="disableFolderUp()" class="btn btn-default navbar-btn" ng-click="setFolderOrder(true)"><i class="mdi mdi-arrow-up-bold"></i></button>
      <button ng-disabled="disableFolderDown()" class="btn btn-default navbar-btn" ng-click="setFolderOrder(false)"><i class="mdi mdi-arrow-down-bold"></i></button>
    </div>
  </nav>
</div>
