<div ng-controller="CustomerSearchCtrl" class="input-collapse">

  <form name="searchEntity" role="tablist" av-active-panels="active" av-collapse>

      <div class="collapse-heading" role="tab">
        <div class="input-group">
      	  <input type="text" ng-model="search.filter" class="form-control" placeholder="Digite o cnpj, cpf, rg ou nome">
      	  <div class="input-group-btn">
      	    <button type="submit" class="btn btn-primary" ng-click="doSearch()"><i class="mdi mdi-magnify"></i></button>
      	    <button ng-if="::!aggregator" type="button" class="btn btn-default" av-collapse-toggle><i class="mdi" ng-class="{ 'mdi-chevron-double-down': active==-1, 'mdi-chevron-double-up': active==0 }"></i></button>
      	  </div><!-- /btn-group -->
        </div>
      </div>

      <div class="collapse-body" role="tabpanel" av-collapse-target>
      	<h4>Qualificação</h4>
      	<p>
      	  <span class="tags" ng-repeat="qualItem in qualList">{{qualItem.name}}
      	    <a ng-click="remove(qualItem)" class="close">
                    <i class="mdi mdi-close-circle"></i>
      	    </a>
      	  </span>
      	</p>
      	<button type="submit" class="btn btn-primary" ng-click="generate()">Gerar</button>
      </div>

  </form><!-- /searchEntity -->

  <div ng-show="docList.children.length>0">
    <br>
    <p class="pull-right">Exibindo {{search.offset+1}}-{{(search.offset+search.limit) < docList.totalResults ? search.offset+search.limit : docList.totalResults}} de {{docList.totalResults}}</p>
    <h2>Resultados da busca:</h2>
    <table class="table">
      <tr ng-repeat="item in docList.children" ng-click="open(item.docId)" ng-class="{ 'clickable' : active==-1}">
    	<td>
    	  <a ng-show="active==0" ng-href="#/customer/item/{{::item.docId}}">
    	    {{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger>
    	  </a>
    	  <span ng-show="active==-1">
    	    {{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger>
    	  </span>
    	</td>
    	<td ng-show="active==0">
    	  <button class="btn btn-link btn-icon" type="button" ng-click="add(item)" ng-if="::item.path=='/client/naturalPerson/'" ng-show="!qualList[item.docId]">
            <i class="mdi mdi-plus-circle"></i>
    	  </button>
    	 </td>
      </tr>
    </table>

    <av-pagination data-source="docList" data-limit="search.limit" data-offset="search.offset"></av-pagination>
  </div>
</div>
