<div  ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid">
    <ul class="list-unstyled">
      <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
      <li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
    </ul>
  </span>

  <div class="panel-group" av-active-panels="activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" av-collapse>
    <div class="panel panel-default" ng-repeat="local in field.children" ng-init="localIndex=$index" ng-show="params.register || activePanels.indexOf($index)!=-1">
      <div class="panel-heading" role="tab">
	<h3 class="panel-title">
          <label>
            <input ng-disabled="::!params.register" type="checkbox" ng-model="values[field.attrs.fieldName][localIndex].active" av-boolean-input av-collapse-toggle /> {{local.attrs.name}}
          </label>
	</h3>
      </div>
      <div class="panel-collapse" role="tabpanel" av-collapse-target>
	<div class="panel-body">
	  <div ng-repeat="localField in local.children" ng-switch="localField.attrs.type" ng-if="checkField(local,localField)">
	    <av-text ng-switch-when="text" field="localField" values="values[field.attrs.fieldName][localIndex]" av-form="avForm" field-index="localIndex"></av-text>
	    <av-integer ng-switch-when="integer" field="localField" values="values[field.attrs.fieldName][localIndex]" av-form="avForm" field-index="localIndex"></av-integer>
	    <av-select ng-switch-when="select" field="localField" values="values[field.attrs.fieldName][localIndex]" field-list="local.children" av-form="avForm" node-service="nodeService" parent-field="{{::field.attrs.fieldName}}" field-index="localIndex" path="path"></av-select>
	</div>
      </div>
    </div>
  </div>
</div>
