<div ng-if="::!params.aggregator" class="pull-right form-inline">
  <button type="button" class="btn btn-default" ng-click="Editar()">{{'insertTag'|translate}}</button>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Nome</th>
	<th>Tipo</th>
	<th>Parentesco</th>
	<th ng-if="::!params.aggregator">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: 'name'">
	<td>
	  <a ng-href="#/customer/item/{{item.entityId}}">{{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger></a>
	</td>

	<td>
	  {{::item.type}}
	</td>

	<td>
	  {{::item.kinship}}
	</td>

	<td ng-if="::!params.aggregator">
	  <button type="button" class="btn btn-icon" bs-tooltip data-title="Editar" ng-click="Editar(item)">
	    <i class="mdi mdi-pencil"></i>
	  </button>
	</td>
      </tr>
    </tbody>
  </table>
</div>
