<div class="box">
  <h2>Lista dos compromissos:</h2>
  <table class="table">
    <tr ng-repeat="item in commitments">
      <td>
	<a ng-href="#/process/item/{{::item.rootProcessId}}/{{::item.processId}}" ><span ng-repeat="number in item.number" class="badge pull-right">{{::number}}</span> {{::item.date|mysqlDatetimeToISO|date:dateFormat}} - {{::item.subject}}</a></td>
    </tr>
  </table>
</div>

<div class="box">
  <h2>Últimos históricos inseridos:</h2>
  <table class="table">
    <tr ng-repeat="item in history">
      <td>
	<a ng-href="#/process/item/{{::item.rootProcessId}}/{{::item.processId}}" ><span ng-repeat="number in item.number" class="badge pull-right">{{::number}}</span> {{::item.date|mysqlDatetimeToISO|date:dateFormat}} - {{::item.subject}}</a></td>
    </tr>
  </table>
</div>

<div class="box">
  <h2>Alertas de inatividade:</h2>
  <table class="table">
    <tr ng-repeat="item in history">
      <td>
	<a ng-href="#/process/item/{{::item.rootProcessId}}/{{::item.processId}}" ><span ng-repeat="number in item.number" class="badge pull-right">{{::number}}</span> {{::item.date|mysqlDatetimeToISO|date:dateFormat}} - {{::item.subject}}</a></td>
    </tr>
  </table>
</div>
