<div ng-controller="ProcessSearchCtrl">
  <form name="searchProcess" class="input-group">
    <input type="text" ng-model="search.filter" class="form-control" placeholder="Digite o número do processo, pasta ou número do recibo">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="doSearch()"><i class="mdi mdi-magnify"></i></button>
    </div><!-- /btn-group -->
  </form><!-- /input-group -->

  <div ng-show="docList.children.length>0">
    <br>
    <p class="pull-right">Exibindo {{search.offset+1}}-{{(search.offset+search.limit) < docList.totalResults ? search.offset+search.limit : docList.totalResults}} de {{docList.totalResults}}</p>
    <h2>Resultados da busca:</h2>
    <table class="table">
      <tr>
	<th>Processo</th>
	<th>Pasta</th>
	<th>Situação</th>
	<th>Assunto</th>
      </tr>
      <tr ng-repeat="item in docList.children" ng-click="$state.go('app.process.item',{docId:item.docId,rootProcessId:item.rootProcessId})" class="clickable">
	<td>
	  <span ng-repeat="number in item.number" class="badge">{{::number}}</span>
	</td>

	<td>
	  {{::item.folder}}<span ng-if="item.folderYear">/{{::item.folderYear}}</span>
	</td>

	<td>
	  {{::item.situation}}
	</td>

	<td>
	  {{::item.subject}}
	</td>
      </tr>
    </table>

    <av-pagination data-source="docList" data-limit="search.limit" data-offset="search.offset"></av-pagination>
  </div>
</div>
