<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>ID</th>
	<th>Vencimento</th>
	<th>Pagamento</th>
	<th>Classe</th>
	<th>Histórico</th>
	<th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: ['paymentDate','expiration']" ng-click="open(item)" class="clickable">
	<td>{{::item.entryId}}/{{::item.entryYear}}</td>
	<td><span ng-if="::item.expiration">{{::item.expiration|mysqlDatetimeToISO|date:dateFormat}}<span></td>
	<td><span ng-if="item.paymentDate">{{::item.paymentDate|mysqlDatetimeToISO|date:dateFormat}}</span></td>
	<td>{{::item.classIdText}}</td>
	<td>{{::item.history}}</td>
	<td ng-class="{ 'vermelho': item.typeId==2 }">
	  <span ng-if="::item.typeId==1">+</span>
	  <span ng-if="::item.typeId==2">-</span>
	  &nbsp;
	  <av-currency-symbol></av-currency-symbol>{{::item.value|number:2}}
	</td>
      </tr>
    </tbody>
  </table>
</div>
