<div ng-switch="field.attrs.template?field.attrs.template:field.attrs.type">
  <legis-folder ng-switch-when="folder" field="field" values="node.attrs" av-form="avForm" ></legis-folder>
  <legis-client-list ng-switch-when="clientList" field="field" values="node.attrs" translations="translations" av-form="avForm" params="params"></legis-client-list>
  <legis-process-numbers ng-switch-when="processNumbers" field="field" values="node.attrs" translations="translations" av-form="avForm" params="params"></legis-process-numbers>
  <legis-process-locals ng-switch-when="processLocals" field="field" values="node.attrs" av-form="avForm" node-service="node.nodeService" path="node.path" params="params"></legis-process-locals>
  <legis-process-history ng-switch-when="processHistory" field="field" values="node.attrs" params="params"></legis-process-history>
  <legis-process-commitment ng-switch-when="processCommitment" field="field" values="node.attrs"></legis-process-commitment>
  <legis-history-file-list ng-switch-when="historyFileList" field="field" values="node.attrs" av-form="avForm" translations="translations"></legis-history-file-list>
  <legis-situation ng-switch-when="legisSituation" type="{{::field.attrs.type}}" field="field" field-list="node.fields" values="node.attrs" date-format="{{::datepickerFormat}}" av-form="avForm" ></legis-situation>
  <legis-customer-process-list ng-switch-when="customerProcessList" field="field" values="node.attrs"></legis-customer-process-list>
  <legis-representative-list ng-switch-when="representativeList" field="field" values="node.attrs" av-form="avForm" params="params"></legis-representative-list>
  <legis-represented-list ng-switch-when="representedList" field="field" values="node.attrs" av-form="avForm"></legis-represented-list>
  <legis-entity-ref ng-switch-when="naturalPersonCustomerRef" entity-type="naturalPersonCustomer" data-tag="customer" field="field" values="node.attrs" av-form="avForm" ></legis-entity-ref>
  <legis-entity-ref ng-switch-when="customerRef" entity-type="customer" data-tag="customer" field="field" values="node.attrs" av-form="avForm" ></legis-entity-ref>
  <legis-license ng-switch-when="license" field="field" values="node.attrs" av-form="avForm" ></legis-license>
  <legis-customer-user-ref ng-switch-when="customerUserRef" field="field" values="node.attrs" av-form="avForm"  show-label="{{::showLabel}}"></legis-customer-user-ref>
  <legis-user-ref ng-switch-when="userRef" field="field" values="node.attrs" av-form="avForm"  show-label="{{::showLabel}}" path="node.path"></legis-user-ref>
  <legis-related-mail ng-switch-when="relatedMail" field="field" values="node.attrs"></legis-related-mail>
  <legis-attachment ng-switch-when="legisAttachment" ng-if="node.attrs[field.attrs.fieldName] && node.attrs[field.attrs.fieldName].length>0" field="field" values="node.attrs" av-form="avForm" translations="translations"></legis-attachment> 
  <legis-contract-list ng-switch-when="contractList" field="field" values="node.attrs" field-list="node.fields"></legis-contract-list>
  <legis-contract-process-list ng-switch-when="contractProcessList" field="field" values="node.attrs"></legis-contract-process-list>
  <legis-contract-entity-list ng-if="node.attrs.classId" ng-switch-when="contractEntityList" field="field" values="node.attrs"></legis-contract-entity-list>
  <legis-entry-list ng-switch-when="entryList" field="field" values="node.attrs" field-list="node.fields"></legis-entry-list>
  <legis-entity-ref ng-switch-when="entryProviderRef" entity-type="provider" template-url="legisEntryProviderRef.html" field="field" values="node.attrs" av-form="avForm" ></legis-entity-ref>
  <legis-entry-customer-ref ng-switch-when="entryCustomerRef" field="field" values="node.attrs" av-form="avForm"></legis-entry-customer-ref>
  <legis-entry-process-ref ng-switch-when="entryProcessRef" field="field" values="node.attrs" av-form="avForm"></legis-entry-process-ref>
  <legis-dyn-req-date ng-switch-when="dynReqDate" field="field" values="node.attrs" date-format="{{::datepickerFormat}}" av-form="avForm"  show-label="{{::showLabel}}"></legis-dyn-req-date>
  
  <av-field ng-switch-default></av-field>
</div>
