<div ng-controller="EntitySearchCtrl">
  <form name="searchEntity" class="input-group">
    <input type="text" ng-model="search.filter" class="form-control" placeholder="{{::params.searchPlaceholder}}">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="doSearch()"><i class="mdi mdi-magnify"></i></button>
    </div><!-- /btn-group -->
  </form><!-- /input-group -->

  <div ng-show="docList.children.length>0">
    <br>
    <p class="pull-right">Exibindo {{search.offset+1}}-{{(search.offset+search.limit) < docList.totalResults ? search.offset+search.limit : docList.totalResults}} de {{docList.totalResults}}</p>
    <h2>Resultados da busca:</h2>
    <table class="table">
      <tr>
	<th>ID</th>
	<th>Vencimento</th>
	<th>Pagamento</th>
	<th>Histórico</th>
	<th>Classe</th>
	<th>Valor</th>
      </tr>

      <tr ng-repeat="item in docList.children" ng-click="$state.go('app.'+params.tag+'.item',{docId:item.docId})" class="clickable">
	<td>{{::item.entryId}}/{{::item.entryYear}}</td>
	<td><span ng-if="::item.expiration">{{::item.expiration|mysqlDatetimeToISO|date:dateFormat}}<span></td>
	<td><span ng-if="item.paymentDate">{{::item.paymentDate|mysqlDatetimeToISO|date:dateFormat}}</span></td>
	<td>{{::item.history}}</td>
	<td>{{::item.classIdText}}</td>
	<td ng-class="{ 'vermelho': item.typeId==2 }">
	  <span ng-if="::item.typeId==1">+</span>
	  <span ng-if="::item.typeId==2">-</span>
	  &nbsp;
	  <av-currency-symbol></av-currency-symbol>{{::item.value|number:2}}
	</td>
      </tr>
    </table>

    <av-pagination data-source="docList" data-limit="search.limit" data-offset="search.offset"></av-pagination>
  </div>
</div>
