
<div class="pull-right form-inline">
  <button type="button" ng-click="open()" class="btn btn-default ng-scope">Novo</button>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Data</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: 'date'" ng-click="open(item)" class="clickable">
	<td>{{item.date|mysqlDatetimeToISO|date:dateFormat}}</td>
	<td>{{item.subject}}</td>
      </tr>
    </tbody>
  </table>
</div>
