<div class="topbar" ng-controller="TopBarCtrl">
  <div ui-view="topBar"></div>
  <h1>
    <a class="menu-icon hidden btn btn-icon" ng-click="menuClick()"><i class="mdi mdi-menu"></i></a> {{menuTitle}} <div class="loader three-quarters-loader" bs-tooltip="{title:'Carregando...'}"></div>
  </h1>
</div>

<div ui-view="content"></div>
