<div class="box" ng-if="::aggregator">
  <h2>Últimos históricos inseridos:</h2>
  <table class="table">
    <tr ng-repeat="item in history">
      <td>
	<a ng-href="#/process/item/{{::item.rootProcessId}}/{{::item.processId}}" ><span ng-repeat="number in item.number" class="badge pull-right">{{::number}}</span> {{::item.date|mysqlDatetimeToISO|date:dateFormat}} - {{::item.subject}}</a></td>
    </tr>
  </table>
</div>

<div class="box" ng-if="::!aggregator">
  <h2>Lista de processos:</h2>
  <table class="table">
    <tr ng-repeat="item in summary" ng-click="$state.go('app.process.item',{docId:item.processId,rootProcessId:item.rootProcessId})" class="clickable">
      <td>
	<span ng-repeat="number in item.number" class="badge pull-right">{{::number}}</span>
      </td>
    </tr>
  </table>
</div>
