<div class="row doc-modal" ng-controller="NodeModalCtrl" >

  <section class="history col-sm-4" ng-show="showHistory">
    <h3 class="cinza"><i class="mdi mdi-history"></i> {{'historyTag'|translate}}</h3>
    <ul class="history-group">
      <li ng-repeat="item in history" ng-switch="field.attrs.type" ng-controller="HistoryCtrl" ng-show="::field.attrs.label!=null">

        <strong bs-tooltip="{title:item.login}" data-container="body" data-animation="false">{{::item.name}}</strong>

	<span ng-switch-default>
	  alterou {{::label}} <span ng-if="item.value!=null">para "{{::value}}"</span>
	</span>
	<span ng-switch-when="objectList">
	  removeu itens de {{::label}} ({{::value}})
	</span>

	</br><small class="text-muted">{{::item.histDate|mysqlDatetimeToISO|date:datetimeFormat}}</small>
      </li>
    </ul>
  </section>

  <section class="branco" ng-class="{'col-sm-8':showHistory}" av-scroll-by-dragging>

    <div class="modal-header">
      <button type="button" class="close" ng-click="$hide()" aria-label="fechar"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{nodeModalParams.title}}</h3>
    </div>
    <div class="inner-body">

      <av-form template-url="{{::nodeModalParams.formTemplate}}" name="avForm" node="node" translations="translations" submit="save()" ta-toolbar="nodeModalParams.taToolbar"></av-form>

    </div>
  </section>
    <div class="modal-footer" ng-class="{'col-sm-8':showHistory, 'col-sm-12':!showHistory}">
      <button ng-show="node.attrs.docId && buttons.history" class="btn btn-link btn-icon pull-left" ng-click="showHistory=!showHistory" tooltip="Histórico de atividades"><i class="mdi mdi-history"></i></button>
      <button ng-if="(node.attrs.docId || node.attrs.folderId) && buttons.remove" class="btn btn-danger pull-left" ng-click="delete()">{{'removeTag'|translate}}</button>
      <button class="btn btn-default" ng-click="print()">{{'printTag'|translate}}</button>
      <button class="btn btn-default" ng-click="$hide()">{{::labels.cancelTag}}</button>
      <button class="btn btn-primary" ng-if="buttons.ok" ng-disabled="!nodeModalParams.dirty" ng-click="avForm.submit()">OK</button>
    </div>
</div>
