<div ng-if="::!params.aggregator" class="pull-right form-inline">
  <label>Inserir&nbsp;</label>
  <div class="input-group">
    <input type="text" name="customer" ng-model="$parent.customer" placeholder="Busca" bs-options="item as (item.name | typeaheadHighlight:customer) for item in getCustomer($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />
    <av-array-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="$parent.values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-array-model-ctrl>

    <span class="input-group-btn">
      <button type="button" ng-click="labels()" class="btn btn-default ng-scope" ng-disabled="allClear">
      Etiquetas
      </button>
    </span>
  </div><!-- /input-group -->
</div>

<div class="scroll" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <table class="table">
    <thead>
      <tr>
	<th ng-if="::!params.aggregator"><av-select-all-checkbox checkboxes="values[field.attrs.fieldName]" all-selected="$parent.allSelected" all-clear="$parent.allClear"></av-select-all-checkbox></th><th>Nome</th><th>Situação</th><th class="text-center">Cabeça</th><th class="text-center">Excluído</th><th>Obs.</th><th ng-if="!params.aggregator && values['docId']" class="text-center">Recibos</th><th ng-if="::!params.aggregator" class="text-center">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in values[field.attrs.fieldName] | orderBy: ['-header','+name']">
	<td ng-if="::!params.aggregator"><input type="checkbox" ng-model="$parent.item.checked" av-no-dirty-check /></td>
	<td><a ng-href="#/customer/item/{{::item.entityId}}">{{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger></a></td>
	<td class="em">
	  <span ng-repeat="situation in item.situationId">{{::situation.name}}{{$last ? '' : ', '}}</span>
	</td>
	<td class="text-center"><input type="checkbox" ng-disabled="::params.aggregator" ng-model="item.header" av-boolean-input av-no-dirty-check /></td>
	<td class="text-center"><input type="checkbox" ng-disabled="::params.aggregator" ng-model="item.excluded" av-boolean-input av-no-dirty-check /></td>
	<td>
	  <button ng-if="::!params.aggregator" type="button" class="btn btn-link btn-icon comment" bs-popover data-auto-close="true" data-placement="bottom" template="legisCustomerObs.html"><i class="mdi mdi-comment-text"></i></button>
	  {{item.reason}}
	</td>
	<td class="receipt text-center" ng-if="!params.aggregator && values['docId']">
	  <button type="button" class="btn btn-link btn-icon" legis-customer-receipts values="values" item="item" translations="translations"><i class="mdi mdi-receipt"></i></button>
	</td>
	<td ng-if="::!params.aggregator" class="text-center">
	  <button type="button" av-confirm-popover="Remover item?" data-placement="left" data-action="remove(item)" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>
      </tr>
    </tbody>
  </table>
  <div class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
    <ul class="list-unstyled">
      <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
    </ul>
  </div>
</div>
