<div class="entity-ref" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <div class="form-group double">
    <label class="control-label col-sm-3">{{::field.attrs.label}}:
    </label>
    <div class="col-sm-9">
      <em ng-hide="values[field.attrs.fieldName]" class="text-muted form-control-static">Nenhum</em>
      <span class="tags" ng-if="values[field.attrs.fieldName].name">{{values[field.attrs.fieldName].name}}
	<a class="close" ng-click="remove()">
          <i class="mdi mdi-close-circle"></i>
	</a>
      </span>
      <av-obj-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-obj-model-ctrl>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <input type="text" name="entity" ng-model="entity" placeholder="Busca" bs-options="item as (item.name | typeaheadHighlight:entity) for item in getEntity($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />

      <span class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
        <ul class="list-unstyled">
          <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
          <li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required">{{'invalidFieldTag'|translate}}</li>
        </ul>
      </span>
    </div>
  </div>
</div>
