<div class="pull-right form-inline">
  <label>Inserir&nbsp;</label>

  <av-obj-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-obj-model-ctrl>
  <input type="text" name="process" ng-model="process" placeholder="Busca" bs-options="item as (item.title | typeaheadHighlight:process) for item in getProcess($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" data-placement="bottom-right" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />

</div>

<div class="scroll" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <table class="table">
    <thead>
      <tr>
	<th>Processo</th>
	<th>Pasta</th>
	<th>Situação</th>
	<th>Assunto</th>
	<th class="col-icon">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="values[field.attrs.fieldName]">
	<td>
	  <a ng-href="#/process/item/{{values[field.attrs.fieldName].rootProcessId}}/{{values[field.attrs.fieldName].processId}}">
	    <span ng-repeat="number in values[field.attrs.fieldName].number" class="badge">{{::number}}</span>
	  </a>
	</td>

	<td>
	  {{values[field.attrs.fieldName].folder}}<span ng-if="values[field.attrs.fieldName].folderYear">/{{values[field.attrs.fieldName].folderYear}}</span>
	</td>

	<td>
	  {{values[field.attrs.fieldName].situation}}
	</td>

	<td>
	  {{values[field.attrs.fieldName].subject}}
	</td>

	<td class="text-center">
	  <button type="button" ng-click="remove()" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>

      </tr>
    </tbody>
  </table>
  <div class="help-block with-errors" ng-show="avForm.$submitted && avForm.{{::field.attrs.fieldName}}.$invalid">
    <ul class="list-unstyled">
      <li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
    </ul>
  </div>
</div>
