<div ng-controller="DocsDocCtrl">
  <button type="submit" ng-if="registerPerm" class="btn btn-default pull-right" ng-click="openDoc(tab.node.docLinks[0].path,tab.node.attrs)">Editar</button>

  <h2>{{tab.node.attrs.title}}</h2>

  <div ta-bind ng-model="tab.node.attrs.content" class="text-muted"></div>

  <br/>
  <hr/>
  <av-form name="avForm" node="commentDoc" translations="translations" submit="saveComment()" horizontal="false"></av-form>
  <button class="btn btn-primary" ng-click="avForm.submit()">Enviar</button>

  <hr/>
  <h4 ng-if="commentList.length">Comentários:</h4>

  <div ng-repeat="comment in commentList" class="row">
    <div class="col-sm-2"><small class="badge">{{comment.creationDate|mysqlDatetimeToISO|date:datetimeFormat}}</small></div>
    <div class="col-sm-10" ng-bind-html="::comment.comment"></div>
  </div>
</div>
