<div class="row pull-right">
  <label class="control-label col-sm-3">Inserir:</label>
  <div class="col-sm-9">
    <av-array-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-array-model-ctrl>
    <input type="text" name="process" ng-model="process" placeholder="Busca" bs-options="item as (item.title | typeaheadHighlight:process) for item in getProcess($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />
  </div>
</div>

<h2 ng-class="{'required':{{::field.attrs.required=='required'}}}">{{::field.attrs.label}}</h2>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Processo</th>
	<th>Pasta</th>
	<th>Situação</th>
	<th>Assunto</th>
	<th class="col-icon">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in values[field.attrs.fieldName]">
	<td>
	  <a ng-href="#/process/item/{{::item.rootProcessId}}/{{::item.docId}}">
	    <span ng-repeat="number in item.number" class="badge">{{::number}}</span>
	  </a>
	</td>

	<td>
	  {{::item.folder}}<span ng-if="item.folderYear">/{{::item.folderYear}}</span>
	</td>

	<td>
	  {{::item.situation}}
	</td>

	<td>
	  {{::item.subject}}
	</td>

	<td class="text-center">
	  <button type="button" ng-if="::!item.noRemoveBtn" av-confirm-popover="Remover item?" data-placement="left" data-action="remove(item)" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>

      </tr>
    </tbody>
  </table>
</div>
