<div class="form-group form-inline" ng-class="{'required':{{::field.attrs.required=='required'}},'has-error': (avForm.{{::field.attrs.fieldName}}_1.$visited || avForm.{{::field.attrs.fieldName}}_2.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}.$invalid }">
  <label  ng-class="::{'col-sm-3':horizontal}" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="text" name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" class="form-control" size="4" ng-required="{{::field.attrs.required=='required'}}" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited /> / 
    <input type="text" name="{{::field.attrs.fieldName}}Year" ng-model="values[field.attrs.fieldName+'Year']" class="form-control" size="4" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}.$visited || avForm.{{::field.attrs.fieldName}}Year.$visited || avForm.$submitted) && (avForm.{{::field.attrs.fieldName}}.$invalid || avForm.{{::field.attrs.fieldName}}Year.$invalid)">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}.$error.required || avForm.{{::field.attrs.fieldName}}Year.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}.$error.required || avForm.{{::field.attrs.fieldName}}Year.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
