<div class="popover wide" ng-controller="GenerateReceipt">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Informe os campos para geração do recibo:</p>
    <form class="form-vertical" name="popoverForm" ng-submit="gerar($hide,popoverForm)" novalidate>
      <div class="form-group">
        <av-select av-form="popoverForm" field="receipt.fields.processNumber" values="receipt.values" path="path"></av-select>
      </div>
      <div class="form-group">
        <av-currency av-form="popoverForm" field="receipt.fields.value" values="receipt.values"></av-currency>
      </div>
      <div class="form-group">
        <av-date av-form="popoverForm" date-format="{{::datepickerFormat}}" field="receipt.fields.date" values="receipt.values"></av-date>
      </div>
    </form>
    <div class="popover-footer">
      <button class="btn btn-primary pull-right" ng-click="gerar($hide,popoverForm)" type="button">Gerar</button>
      <button class="btn btn-default" ng-click="$hide()" type="button">Cancelar</button>
    </div>
  </div>
</div>
