<div ng-controller="ProcessDocCtrl">
  <div ng-if="::register && tab.treeData" ng-controller="ProcessTreeCtrl">
    <button class="btn btn-default pull-right" ng-disabled="!tab.node.attrs.docId" ng-click="addSubProcess()">Novo Subprocesso</button>
    <h2>Árvore de processos:</h2>
    <abn-tree
       tree-data         = "treeData"
       tree-control      = "tree"
       icon-leaf         = "mdi mdi-file-document"
       icon-expand       = "mdi mdi-plus-circle"
       icon-collapse     = "mdi mdi-minus-circle"
       on-select         = "onSelect(branch)" >
    </abn-tree>

  </div>

  <av-form template-url="legisProcessForm.html" params="params" name="avForm" node="tab.node" translations="translations" submit="save()"></av-form>



  <div class="text-right">
    <button ng-if="::register && tab.node.attrs.docId" class="pull-left btn btn-danger" ng-click="delete()">{{'removeTag'|translate}}</button>
    <button ng-if="!tab.node.attrs.docId" ng-disabled="!avForm.$dirty" class="pull-left btn btn-default" ng-click="cancelNewProcess(tab)">Cancelar</button>
    <button class="btn btn-default" ng-show="tab.node.attrs.docId" ng-click="closeProcess()">Fechar</button>
    <button ng-if="::register" class="btn btn-default" ng-disabled="!avForm.$dirty" ng-click="avForm.submit()">
      <span ng-if="tab.node.attrs.docId">Salvar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar e Abrir</span>
    </button>
    <button ng-if="::register" class="btn btn-primary" ng-disabled="!avForm.$dirty" ng-click="saveAndClose()">
      <span ng-if="tab.node.attrs.docId">Salvar e Fechar</span>
      <span ng-if="!tab.node.attrs.docId">Salvar</span>
    </button>
  </div>
</div>
