<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Recibos</h4>
      </div>
      <div class="modal-body">
	<p>Nome: <strong>{{::item.name}}</strong></p>
	<p ng-if="item.cpf">CPF: <strong>{{::item.cpf|cpf}}</strong></p>
	<p ng-if="item.cnpj">CNPJ: <strong>{{::item.cnpj|cnpj}}</strong></p>

  <p><button type="button" class="btn btn-primary" bs-popover data-placement="bottom" template="legisGenerateReceipt.html">Novo</button></p>

	<div class="scroll" ng-if="receiptList.length">
	  <table class="table" >
	    <tr>
	      <th>Número</th><th>Data</th><th>Valor</th><th class="text-center">Cancelado</th><th>Observações</th>
	    </tr>
	    <tr ng-repeat="item in receiptList | orderBy: ['-year','-number']">
	      <td>
      		<a av-file-viewer doc="{ docId: item.docId, contentType: 'application/pdf' }" container="#file-viewer">
      		  <av-mdi-file-icon content-type="application/pdf"></av-mdi-file-icon>
		  {{::item.number}}-{{::item.year}}
		</a>
	      </td>
	      <td>{{::item.date|mysqlDatetimeToISO|date:dateFormat}}</td>
	      <td>{{::item.value|currency}}</td>
	      <td class="text-center"><input type="checkbox" ng-model="item.canceled" bs-popover data-placement="bottom" template="legisCancelReceipt.html" av-boolean-input ng-disabled="item.canceled=='1'" /></td>
	      <td>{{item.observations}}</td>
	    </tr>
	  </table>
	  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Fechar</button>
      </div>
    </div>
  </div>
</div>
