<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Nome</th>
	<th>Tipo</th>
	<th>Parentesco</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: 'name'">
	<td>
	  <a ng-href="#/customer/item/{{item.entityId}}">{{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger></a>
	</td>

	<td>
	  {{::item.type}}
	</td>

	<td>
	  {{::item.kinship}}
	</td>

      </tr>
    </tbody>
  </table>
</div>
