<div ng-if="values.type==1">
  <div class="form-group">
      <label class="control-label col-sm-3">Busca:</label>
      <div class="col-sm-9">
        <input type="text" ng-model="search" placeholder="Busca" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check />
     </div>
  </div>

  <h3>{{::field.attrs.label}}</h3>

  <p class="noscroll">
    <table class="table">
      <thead>
      	<tr>
      	  <th>Processo</th>
      	  <th>Pasta</th>
      	  <th>Data de habilitação</th>
      	</tr>
      </thead>
      <tbody>
      	<tr ng-repeat="item in values[field.attrs.fieldName] | filter:search">
      	  <td>
      	    <span ng-repeat="number in item.number" class="badge">{{::number}}</span>
      	  </td>
      	  <td>
      	    {{::item.folder}}<span ng-if="item.folderYear">/{{::item.folderYear}}</span>
      	  </td>
      	  <td>
      	    <av-date show-label="false" field="dateField" values="item" date-format="{{::dateFormat}}" av-form="avForm" field-index="$index" data-placement="right" alignment="right"></av-date>
      	  </td>
      	</tr>
      </tbody>
    </table>
  </p>
</div>
