<div class="pull-right form-inline">
  <label>Inserir&nbsp;</label>
  <div class="input-group">
    <av-obj-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-obj-model-ctrl>
    <input type="text" name="entity" ng-model="entity" placeholder="Busca" bs-options="item as (item.name | typeaheadHighlight:entity) for item in getEntity($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />
  </div>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Nome</th>
	<th class="col-icon">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="values[field.attrs.fieldName]">
	<td>
	  <a ng-click="open()">
	    {{values[field.attrs.fieldName].name}}
	  </a>
	</td>

	<td class="text-center">
	  <button type="button" ng-click="remove()" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>

      </tr>
    </tbody>
  </table>
</div>
