<form class="navbar-form navbar-right pull-right">
  <span class="dropdown">
    <span class="username">{{session.login}}</span>
    <a class="btn btn-icon dropdown-toggle" bs-dropdown="dropdown" data-html="true" data-placement="bottom-right" aria-haspopup="true" aria-expanded="false">
      <i class="mdi mdi-account-circle"></i>
      <b class="caret"></b>
    </a>
  </span><!-- /dropdown -->
</form>


<a class="btn btn-icon scroll-up" ng-click="scrollToTop()">
  <i class="mdi mdi-chevron-double-up"></i>
</a>

<a class="btn btn-icon scroll-down" ng-click="scrollToBottom()">
  <i class="mdi mdi-chevron-double-down"></i>
</a>
