<div class="row" ng-controller="DocsNavTreeCtrl">
  <div class="col-sm-4 docs-folders">
    <abn-tree
       tree-data         = "treeData"
       tree-control      = "tree"
       icon-leaf         = "mdi mdi-folder"
       icon-expand       = "mdi mdi-plus-circle"
       icon-collapse     = "mdi mdi-minus-circle"
       on-select         = "onSelect(branch)"
       initial-selection = "Documentos" >
    </abn-tree>
  </div>
  <div class="col-sm-8">
    <p ng-if="!docList || docList.children.length==0"><em class="text-warning">Nenhum documento</em></p>
    <div class="table-responsive docs-files">
      <table class="table table-striped table-hover" ng-if="docList && docList.children.length>0" ng-model="docList.children" as-sortable="aSortableDocListeners">
      <!-- change permission -->
      <tr ng-if="registerPerm" ng-repeat="item in docList.children" as-sortable-item>
	<td>
    <span data-as-sortable-item-handle class="btn btn-icon drag pull-right" title="arraste para reordenar"><i class="mdi mdi-view-headline"></i></span>
    <small ng-if="item.published=='1'" class="badge published pull-right">Publicado</small>
    <small ng-if="item.published=='0'" class="badge muted pull-right">Rascunho</small>
	  <a ng-href="#/docs/item/{{::item.docId}}">
	    <i class="mdi mdi-file-document"></i>
	    {{::item.title}}
	  </a>
	</td>
      </tr>

      <!-- read only -->
      <tr ng-if="!registerPerm" ng-repeat="item in docList.children" class="clickable" ng-click="$state.go('app.docs.item',{docId: item.docId})">
	<td>
	  <i class="mdi mdi-file-document"></i>
	  {{::item.title}}
	</td>
      </tr>
    </table>
   </div>
  </div>

  <nav class="docs-actions navbar navbar-default navbar-fixed-bottom" ng-if="registerPerm">
    <div class="container-fluid">

      <button ng-if="registerPerm" class="btn btn-primary navbar-btn pull-right" ng-click="newDoc()">Novo Documento</button>

      <button ng-if="registerPerm" ng-disabled="!tree.get_selected_branch().data.folderId" class="btn btn-default navbar-btn" ng-click="editFolder()">Editar Pasta</button>
      <button ng-if="registerPerm" class="btn btn-default navbar-btn" ng-click="newFolder()">Nova Pasta</button>
      <button ng-if="registerPerm" ng-disabled="disableFolderUp()" class="btn btn-default navbar-btn" ng-click="setFolderOrder(true)"><i class="mdi mdi-arrow-up-bold"></i></button>
      <button ng-if="registerPerm" ng-disabled="disableFolderDown()" class="btn btn-default navbar-btn" ng-click="setFolderOrder(false)"><i class="mdi mdi-arrow-down-bold"></i></button>
    </div>
  </nav>


</div>
