<div ng-repeat="subField in field.children"  ng-switch="subField.attrs.template?subField.attrs.template:subField.attrs.type">
  <av-text ng-switch-when="text" field="subField" values="values[field.attrs.fieldName]" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-text>
  <av-checkbox ng-switch-when="boolean" field="subField" values="values[field.attrs.fieldName]" horizontal="{{::horizontal}}"></av-checkbox>
  <av-password ng-switch-when="password" field="subField" values="values[field.attrs.fieldName]" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-password>
  <av-auth-secret ng-if="values[field.attrs.fieldName].groups && values[field.attrs.fieldName].groups.indexOf('23')!=-1" ng-switch-when="authSecret" field="subField" values="values[field.attrs.fieldName]" av-form="avForm" horizontal="{{::horizontal}}" show-label="{{::showLabel}}"></av-auth-secret>
  <av-select-multiple ng-switch-when="selectMultiple" field="subField" values="values[field.attrs.fieldName]" field-list="field.children" av-form="avForm" node-service="node.nodeService" horizontal="{{::horizontal}}" show-label="{{::showLabel}}" path="path"></av-select-multiple>
</div>
