<div class="form-group" ng-class="{'required':field.attrs.required=='required','has-error': (avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid }">
  <label  ng-class="::{'col-sm-3':horizontal}" ng-if="::showLabel" class="control-label">{{::field.attrs.label}}:</label>
  <div ng-class="::{'col-sm-9':horizontal}">
    <input type="text" size="10" class="form-control" name="{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}" ng-model="values[field.attrs.fieldName]" data-autoclose="1" data-icon-left="mdi mdi-chevron-left" data-icon-right="mdi mdi-chevron-right" data-date-type="string" data-model-date-format="yyyy-MM-dd HH:mm:ss" data-date-format="{{dateFormat}}" placeholder="{{::showLabel?'':field.attrs.label}}"  ng-required="field.attrs.required=='required'" data-template="avDatepicker.html" ng-disabled="::(field.attrs.accessMode.indexOf('w')==-1)" av-visited bs-datepicker av-datepicker-ctrls />
    <span class="help-block with-errors" ng-show="(avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$visited || avForm.$submitted) && avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$invalid">
      <ul class="list-unstyled">
	<li ng-show="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'fieldRequiredTag'|translate}}</li>
	<li ng-hide="avForm.{{::field.attrs.fieldName}}{{fieldIndex!=undefined?'_'+fieldIndex:''}}.$error.required">{{'invalidFieldTag'|translate}}</li>
      </ul>
    </span>
  </div>
</div>
