<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="AccountabilityCtrl">
  <div class="modal-dialog modal-xlg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Fechar" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Prestação de contas</h4>

      </div>
      <div class="modal-body">

	<div class="scroll">
	  <table class="table">
	    <thead>
	      <tr>
		<th>Cliente</th>
		<th>Homologado</th>
		<th>%</th>
		<th>Alvará</th>
		<th>INSS</th>
		<th>Imposto de renda</th>
		<th ng-class="{'add-btn':accData.extraCols.length==0}">
		  FGTS
		  <button ng-if="accData.extraCols.length==0" type="button" class="btn btn-link btn-icon pull-right" legis-acc-col acc-data="accData"><i class="mdi mdi-plus-circle"></i></button>
		</th>
		<th ng-repeat="col in accData.extraCols" ng-class="{'add-btn':$last}" class="remove-btn">
		  <a legis-acc-col column="col" acc-data="accData">{{col.title}}</a>
		  <button ng-if="$last" type="button" class="btn btn-link btn-icon pull-right" legis-acc-col acc-data="accData"><i class="mdi mdi-plus-circle"></i></button>
		  <button type="button" class="btn btn-link btn-icon warning" ng-click="removeExtraCol(col)"><i class="mdi mdi-minus-circle"></i></button>
		</th>
		<th>Valor Bruto</th>
		<th>Honorários <input type="text" class="form-control" tabindex="{{1+(accData.extraCols.length+4)*accData.clientList.length}}" ng-model="accData.fees" class="form-control" av-float-input ng-change="doAccountability()" />%</th>
		<th>Despesas</th>
		<th>%</th>
		<th>Líquido</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in accData.clientList" ng-init="cliId=$index">
		<td>
		  {{::item.name}}
		</td>
		<td>
		  <input type="text" class="form-control" tabindex="{{cliId+1}}" ng-model="item.accepted" av-float-input ng-change="doAccountability()"/>
		</td>
		<td>
		  {{item.percent|number:2}}
		</td>
		<td>
		  {{item.charter|number:2}}
		</td>
		<td>
		  <input type="text" class="form-control" tabindex="{{cliId+1+accData.clientList.length}}" ng-model="item.inss" av-float-input ng-change="doAccountability()" />
		</td>
		<td>
		  <input type="text" class="form-control" tabindex="{{cliId+1+2*accData.clientList.length}}" ng-model="item.ir" av-float-input ng-change="doAccountability()" />
		</td>
		<td ng-class="{'add-btn':accData.extraCols.length==0}">
		  <input type="text" class="form-control" tabindex="{{cliId+1+3*accData.clientList.length}}" ng-model="item.fgts" av-float-input ng-change="doAccountability()" />
		</td>
		<td ng-repeat="col in accData.extraCols" ng-class="{'add-btn':$last}" class="remove-btn">
		  <input type="text" class="form-control" tabindex="{{cliId+1+($index+4)*accData.clientList.length}}" ng-model="col.values[cliId]" av-float-input ng-change="doAccountability()" />
		</td>
		<td>
		  {{item.gross|number:2}}
		</td>
		<td>
		  {{item.fees|number:2}}
		</td>
		<td>
		  {{item.expenses|number:2}}
		</td>
		<td>
		  <input type="text" class="form-control" tabindex="{{cliId+2+(accData.extraCols.length+4)*accData.clientList.length}}" ng-model="item.expensesPercent" av-float-input frac-digits="5" ng-change="doAccountability()" />
		</td>
		<td>
		  {{item.netValue|number:2}}
		</td>
	      </tr>

	      <tr class="total">
		<td colspan="3">
		  Total
		</td>
		<td>
		  {{tab.node.attrs.value-tab.node.attrs.succumbing|number:2}}
		</td>
		<td>
		  {{accData.totalInss|number:2}}
		</td>
		<td>
		  {{accData.totalIr|number:2}}
		</td>
		<td ng-class="{'add-btn':accData.extraCols.length==0}">
		  {{accData.totalFgts|number:2}}
		</td>
		<td ng-repeat="col in accData.extraCols" ng-class="{'add-btn':$last}" class="remove-btn">
		  {{col.total|number:2}}
		</td>
		<td>
		  {{accData.totalGross|number:2}}
		</td>
		<td>
		  {{accData.totalFees|number:2}}
		</td>
		<td>
		  {{accData.expenses|number:2}}
		</td>
		<td ng-class="{'vermelho':totalExpensesPercent!=100}">
		  {{accData.totalExpensesPercent|number:2}} %
		</td>
		<td>
		  {{accData.totalNetValue|number:2}}
		</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<p ng-if="accData.succumbing>0">Sucumbência: R${{accData.succumbing|number:2}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Fechar</button>
	<button class="btn btn-primary" ng-click="generate($hide)">Gerar</button>
      </div>
    </div>
  </div>
</div>
