<div ng-controller="SettingsCtrl">
  <av-form params="params" name="avForm" node="tab.node" translations="translations" submit="save()"></av-form>

  <div class="text-right">
    <button ng-disabled="!avForm.$dirty" class="pull-left btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-disabled="!avForm.$dirty" ng-click="avForm.submit()">Salvar</button>
  </div>
</div>
