<div class="row">
  <div class="col-sm-6">
    <av-form name="avForm" node="node" translations="translations" submit="save()"></av-form>
    <p class="text-right"><button class="btn btn-primary" ng-click="avForm.submit()">Enviar</button></p>
  </div>
  <div class="col-sm-6">
    <div ng-bind-html="folder.content"></div>
  </div>
</div>
