<div class="popover" ng-controller="CancelReceipt">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Confirma o cancelamento?</p>
    <form name="popoverForm" novalidate ng-submit="confirm($hide,popoverForm)" class="form-vertical">
      <div class="clearfix form-group">
	<av-text-area field="data.fields.observations" values="data.values" av-form="popoverForm"></av-text-area>
      </div>
    </form>
    <button type="button" class="btn btn-default" ng-click="cancel($hide)">Fechar</button>
    <button type="button" class="btn btn-primary" ng-click="confirm($hide,popoverForm)">Confirmar</button>
  </div>
</div>
