<form name="avForm" novalidate ng-submit="avForm.submit()" ng-class="::{ 'form-horizontal': horizontal }" ng-show="node" legis-entry-form>

  <div class="panel-group" role="tablist" av-active-panels="active" av-collapse ng-controller="FormCollapseCtrl">
    <div class="panel panel-clear" ng-repeat="colItem in collapseCtrl | collapseCtrlFilter:this ">
      <div class="panel-heading" role="tab">
	<h3 class="panel-title">
	  <a av-collapse-toggle>
	    <i class="mdi" ng-class="{ 'mdi-menu-right': active==$index, 'mdi-menu-down': active!=$index}"></i> {{::colItem.collapse.title}}
	    <span ng-if="::colItem.collapse.required" bs-tooltip data-title="Campo obrigatório">*</span>
	  </a>
	</h3>
      </div>
      <div class="panel-collapse" role="tabpanel" av-collapse-target>
	<legis-field ng-hide="field.attrs.hidden" ng-repeat="field in colItem.children"></legis-field>
      </div>
    </div>

  </div>


  <input type="submit"
	 style="position: absolute; left: -9999px; width: 1px; height: 1px;"
	 tabindex="-1" />
</form>
