<div ng-controller="CustomerReportCtrl">
  <form class="form-horizontal" name="customerReportForm" novalidate>
    <av-select field="fields.params" values="values" av-form="customerReportForm" path="path"></av-select>
    <av-search-fields ng-if="values.params" template-url="legisSearchFields.html" path="{{values.params}}SearchFields" values="values" field-list="fields" translations="translations" name="extra" av-form="customerReportForm"></av-search-fields>
    <av-checkbox ng-show="values.params && values.params!='value' && values.params!='commitment' && values.params!='start' && values.params!='age'" field="fields.not" values="values" av-form="customerReportForm"></av-checkbox>
    
    <button type="button" ng-disabled="isAddParamDisabled()" ng-click="addParam()" class="btn btn-default">Adiciona Parâmetro</button>
    
    <hr>
    <av-radio field="fields.type" values="search" av-form="customerReportForm"></av-radio>
    <div class="form-group double required">
      <label class="control-label col-sm-3">Parâmetros da Busca:</label>
      <div class="col-sm-9">
	<span class="tags" ng-repeat="param in search.paramList">{{::param.label}} <a ng-click="removeParam(param)" class="close"><i class="mdi mdi-close-circle"></i></a></span>
      </div>
    </div>
    <hr>
    
    <div class="text-right">
      <button type="button" ng-disabled="!customerReportForm.$dirty" class="pull-left btn btn-default" ng-click="cancel()">Cancelar</button>
      <button type="submit" ng-disabled="isSendDisabled()" ng-click="doSearch()" class="btn btn-primary">Enviar</button>
    </div>
  </form>

  <div ng-show="docList.children.length>0">
    <br>
    <p class="pull-right">Exibindo {{search.offset+1}}-{{(search.offset+search.limit) < docList.totalResults ? search.offset+search.limit : docList.totalResults}} de {{docList.totalResults}}</p>
    <h2>Resultados da busca:</h2>
    <table class="table">
      <tr ng-repeat="item in docList.children" ng-click="$state.go('app.'+params.tag+'.item',{docId:item.docId})" class="clickable">
	<td>
	  {{::item.name}} <legis-dagger situation="item.situationId"></legis-dagger>
	</td>
      </tr>
    </table>
    <av-pagination data-source="docList" data-limit="search.limit" data-offset="search.offset"></av-pagination>
  </div>
</div>
