<div>
  <legend>{{::field.attrs.label}}:</legend>
  <fieldset>
    <av-text field="fieldList.pensionerOfName" values="values" av-form="avForm"></av-text>
    <av-text field="fieldList.pensionerOfProfession" values="values" av-form="avForm"></av-text>
    <av-date field="fieldList.pensionerOfRetirement" values="values" date-format="{{::dateFormat}}" av-form="avForm"></av-date>
    <av-date field="fieldList.pensionerOfDeath" values="values" date-format="{{::dateFormat}}" av-form="avForm"></av-date>
  </fieldset>
</div>
