<div class="pull-right form-inline">
  <label>Busca&nbsp;</label>
  <div class="input-group">
    <input type="text" ng-model="search" placeholder="Busca" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check />
  </div>
</div>

<h2 ng-class="{'required':{{::field.attrs.required=='required'}}}">{{::field.attrs.label}}</h2>

<div class="scroll row">
  <table class="table">
    <thead>
      <tr>
	<th>Título</th><th>Tipo</th><th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in values[field.attrs.fieldName] | filter:search">
	<td>
      	  <a av-file-viewer doc="file" data-toggle="tooltip" container="#file-viewer" >
      	    <av-mdi-file-icon content-type="{{file.contentType}}" class="btn btn-icon"></av-mdi-file-icon>
	    {{file.title}}
          </a>
	</td>
	<td>{{file.contentType}}</td>
	<td>{{file.lastChanged|mysqlDatetimeToISO|date:dateFormat}}</td>
      </tr>
    </tbody>
  </table>
</div>
