<div ng-controller="TablesCtrl">
  <form class="form-horizontal" name="tablesForm" novalidate>
    <av-select field="fields.tables" values="values" av-form="tablesForm" path="path"></av-select>
    <av-search-fields ng-if="values.tables" template-url="legisSearchFields.html" path="{{values.tables}}ConfigFields" values="values" field-list="fields" translations="translations" name="extra" av-form="tablesForm" reload-event="reload-search-fields"></av-search-fields>
      
    <div class="text-right" ng-if="values.tables">
      <button type="button" ng-click="openItem()" class="pull-left btn btn-default">Novo</button>
      <button type="button" ng-disabled="!values.extra.id" ng-click="openItem(values.extra.id)" class="btn btn-primary">Editar</button>
    </div>
  </form>
</div>
