
<div class="pull-right form-inline">
  <button type="button" ng-click="open()" class="btn btn-default ng-scope">Novo</button>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Número</th>
	<th>Início</th>
	<th>Vencimento</th>
	<th>Classe</th>
	<th>Tipo</th>
	<th>Descrição</th>
	<th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: 'expiration'" ng-click="open(item)" class="clickable">
	<td>{{::item.numberId}}/{{::item.yearId}}</td>
	<td>{{::item.start|mysqlDatetimeToISO|date:dateFormat}}</td>
	<td>{{::item.expiration|mysqlDatetimeToISO|date:dateFormat}}</td>
	<td>{{::item.classIdText}}</td>
	<td>{{::item.typeIdText}}</td>
	<td>{{::item.descr}}</td>
	<td><av-currency-symbol></av-currency-symbol>{{::item.cost|number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
