<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content">
    <form name="popoverForm" novalidate ng-submit="update($hide,popoverForm)" class="form-vertical">

	<av-text horizontal="false" field="data.fields.title" values="data.values" av-form="popoverForm"></av-text>
  
    </form>
    <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="update($hide,popoverForm)">OK</button>
  </div>
</div>
