<div class="pull-right form-inline">
  <label>Busca&nbsp;</label>
  <div class="input-group">
    <input type="text" ng-model="search" placeholder="Busca" class="form-control ng-pristine ng-valid ng-touched" av-no-dirty-check />
  </div>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Processo</th>
	<th>Pasta</th>
	<th>Situação</th>
	<th>Assunto</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | filter:search" ng-click="$state.go('app.process.item',{docId:item.processId,rootProcessId:item.rootProcessId})" class="clickable">
	<td>
	  <span ng-repeat="number in item.number" class="badge">{{::number}}</span>
	</td>

	<td>
	  {{::item.folder}}<span ng-if="item.folderYear">/{{::item.folderYear}}</span>
	</td>

	<td>
	  {{::item.situation}}
	</td>

	<td>
	  {{::item.subject}}
	</td>
      </tr>
    </tbody>
  </table>
</div>
