<av-text field="login" values="values[field.attrs.fieldName]" av-form="avForm"></av-text>
<av-password field="password" template-url="legisPasswordField.html" values="values[field.attrs.fieldName]" av-form="avForm"></av-password>
<av-checkbox field="status" values="values[field.attrs.fieldName]"></av-checkbox>
