
<div ng-if="::params.register" class="pull-right form-inline">
  <button type="button" ng-click="open()" class="btn btn-default ng-scope">Novo</button>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Data</th><th colspan="{{::params.register?2:1}}">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.items | orderBy: '-date'">
	<td>{{item.date|mysqlDatetimeToISO|date:dateFormat}}</td>
	<td>
	  <a ng-if="::params.register" ng-click="open(item)">{{item.subject}}</a>
	  <span ng-if="::!params.register">{{item.subject}}</span>
	</td>
	<td ng-if="::params.register">
      	  <a av-file-viewer ng-if="item.defDocId" doc="{ docId: item.defDocId, contentType: item.defDocContentType, title: item.defDocTitle}" data-toggle="tooltip" container="#file-viewer">
      	    <av-mdi-file-icon content-type="{{item.defDocContentType}}" class="btn btn-icon"></av-mdi-file-icon>
          </a>
	</td>
      </tr>
    </tbody>
  </table>
</div>
