<div class="pull-right form-inline">
  <label>Busca&nbsp;</label>
  <div class="input-group">
    <input type="text" ng-model="search" placeholder="Busca" class="form-control ng-pristine ng-valid ng-touched" ng-model-options="{ debounce: 500 }"  av-no-dirty-check />
  </div>
</div>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>De</th>
	<th>Para</th>
	<th>Assunto</th>
	<th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in field.attrs.itemList" ng-click="open(item)" class="clickable">
	<td>{{::getName(item.fromAddress)}}</td>
	<td>{{::to(item)}}</td>
	<td>{{::item.subject}}</td>
	<td>{{::item.msgDate|mysqlDatetimeToISO|date:datetimeFormat}}</td>
      </tr>
    </tbody>
  </table>
</div>
