<div class="email-list">
  <div class="form-group double">
  <label class="control-label col-sm-3">Inserir:</label>
  <div class="col-sm-9">
    <av-array-model-ctrl name="{{::field.attrs.fieldName}}" ng-model="values[field.attrs.fieldName]" ng-required="{{::field.attrs.required=='required'}}"></av-array-model-ctrl>
    <input type="text" name="entity" ng-model="entity" placeholder="Busca" bs-options="item as (item.name | typeaheadHighlight:entity) for item in getEntity($viewValue)" data-limit="7" data-min-length="0" class="form-control ng-pristine ng-valid ng-touched" data-html="1" ng-model-options="{ debounce: 500 }" bs-typeahead autocomplete="off" av-no-dirty-check />
  </div>
</div>
</div>

<h2 ng-class="{'required':{{::field.attrs.required=='required'}}}">{{::field.attrs.label}}</h2>

<div class="scroll">
  <table class="table">
    <thead>
      <tr>
	<th>Nome</th>
	<th class="col-icon">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in values[field.attrs.fieldName]">
	<td>
	  <a ng-click="open(item)">
	    {{::item.name}}
	  </a>
	</td>

	<td class="text-center">
	  <button type="button" ng-if="::!item.noRemoveBtn" av-confirm-popover="Remover item?" data-placement="left" data-action="remove(item)" class="btn btn-icon warning">
	    <i class="mdi mdi-close"></i>
	  </button>
	</td>

      </tr>
    </tbody>
  </table>
</div>
